.btn {
    font-family: $headings-font-family;
    font-weight: normal;
    text-transform: uppercase;
    outline: none;
    box-shadow: none;
    border: none;

    &:hover, 
    &:active, 
    &:visited {
        outline: none;
        box-shadow: none;
    }

    &.btn-width-icon {
        text-align: left;
        position: relative;
        padding-right: 50px;

        svg,i {
            position: absolute;
            right: 15px;
            top: 15px;
            display: inline-block;
            margin: 0 0 0 auto;
            width: 20px;
            height: 20px;

            path {
                fill: #fff;
            }
        }
    }
    &.btn-width-icon-left {
        text-align: right;
        position: relative;
        padding-left: 50px;

        svg {
            position: absolute;
            left: 15px;
            top: 15px;
            display: inline-block;
            margin: 0 0 0 auto;
            width: 20px;
            height: 20px;

            path {
                fill: #fff;
            }
        }
    }

    &.btn-blue {
        background: theme-color("blue");

        &:hover {
            background: theme-color("blue-over");
        }
    }

    &.btn-white {
        background: $white;
        min-width: 165px;
        @include media-breakpoint-up(md){
            min-width: 180px;
        }

        &:hover {
            background: darken($white, 10%);
        }

        svg {
            height: 15px;
            width: 15px;
            top: 20px;
            path {
                fill: $body-color;
            }
        }
    }
    &.btn-back {
        text-transform: none;
        color: $white;
        font-size: calculateRem(20px);
        svg {
            height: 15px;
            width: 15px;
            top: 24px;
        }
    }
} 