// There's a requirement for different gutter width for mobile and desktop.
// Everything but XS is handled in variables.scss config, below is the override
// for XS.
// https://stackoverflow.com/questions/49302891/in-bootstrap-4-how-to-change-inner-grid-gutter-width-depending-to-breakpoints

@media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm)) {
    .container,
    .container-fluid {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }

    .row {
        margin-right: -7.5px;
        margin-left: -7.5px;
    }

    .row>.col,
    .row>[class*="col-"] {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
}

.container {
    @media (min-width: 1200px) {
        max-width: 1180px;
    }
}