.fileNotFound {
    .article-content {
        @include media-breakpoint-up(md) {
            animation-name: shake;
            animation-duration: 0.4s;
            transform-origin: 50% 50%;
            animation-timing-function: ease;
            padding-top: 70px;
            
        }

        .col-left {
            @include media-breakpoint-up(md) {
                padding-top: 100px;
            }

        }

        .content-title {
            margin-bottom: 64px;
        }

        .button-area {
            .btn {
                width: 100%;
                margin-bottom: 30px;

                @include media-breakpoint-up(md) {
                    margin-right: 20px;
                    max-width: 280px;
                }
            }

        }


        .image-wrapper {
            padding: 50px 30px 0;

            @include media-breakpoint-up(md) {
                padding: 0;
            }
        }
    }
}