.species {
    .animal-category-location {
        padding: 30px 0;
        font-family: $headings-font-family;
        font-size: 20px;
        line-height: 24px;
        border-bottom: $border-dashed;
        margin-bottom: 30px;
        span {
            color: theme-color('secondary')
        }
    }

    .view-all-animals {
        padding-top: 35px;

        .btn {
            max-width: 315px;
        }
    }
}