.posts {
    .col,
    .col a,
    .col a .card,
    .col a .card .card-body,
    .col a .card .card-title
    {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
}

.blogPost {
    .kse-grid {
        > *:last-child {
            margin-bottom: 40px;

            @include media-breakpoint-up(md) {
                margin-bottom: 70px;
            }
        }
    }
}

.blogPage,
.blogPost,
.category {
    .card-img-top {
        border-radius: 5px;
    }
    .card-body {
        padding: 30px 15px;
    }
    .card-title {
        padding: 0 0 30px;
        margin: 0;
        border-bottom: $border-dashed;
        text-transform: uppercase;
        font-family: $headings-font-family;
        font-size: 20px;
        line-height: 24px;
    }
    .featured-post {
        .card-title {
            font-size: 28px;
            line-height: 28px;
        }
    }
}

.blogPost {
    .blog-category {
        padding: 30px 0;
        font-family: $headings-font-family;
        font-size: 20px;
        line-height: 24px;
        border-bottom: $border-dashed;
        margin-bottom: 30px;
        span {
            color: theme-color('secondary')
        }
    }
}

