// Clashing section fixes

.section-callToActionComponent + .section-exploreSlider {
    margin-top: -110px
    
}

.section-macro-memberships {
    position: relative;
    z-index: 10
}

.section-macro-memberships {
    margin-bottom: -100px;
    
    + section {
        padding-top: 100px;
        @include media-breakpoint-up(md) {
            padding-top: 200px;
        }
    }
}
