.dl-menuwrapper {
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 60px);
	max-width: 365px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    &.visible {
        opacity: 1;
    }

    &:after {
        content: "";
        background-color: #133a4a;
        position: absolute;
        top: 0;
        left: 0;
        height: 105%;
        width: 150%;
        z-index: -1;
        transform: rotate(-1deg) translate3d(-30px,-10px,0);
    }
}

.dl-menu {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    // padding-left: 40px !important;
    padding-right: 30px !important;
    position: relative;

    ul {
        li {
            a {
                background-color: #133a4a;
            }
        }
    }

    .dl-back {
        a {
            text-align: right;
            justify-content: flex-start !important;

            &:before {
                content: '\E812';
                font-family: "fontello";
                font-style: normal;
                font-weight: normal;
                color: theme-color('orange');
                speak: none;
                display: inline-block;
                text-decoration: inherit;
                width: 1em;
                margin-right: 1.2em;
                text-align: center;
                /* opacity: .8; */
                font-variant: normal;
                text-transform: none;
                /* font-size: 120%; */
                transform: rotate(180deg);
            }
        }
    }

    .btn-buy-tix {
        svg {
            position: absolute;
            right: 15px;
            // top: 20px;
            display: inline-block;
            margin: 0 0 0 auto;
            width: 20px;
            height: 20px;
        }
    }

    li:not(.mob-menu-socmed) {
        a {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .menu-close {
        cursor: pointer;
        text-align: right;
        color: #fff;
        padding: 26px 0 29px 10px;
        border-bottom: 2px dotted #9b9b9b;
    }
}

.dl-subviewopen {
    border-bottom: none !important;
}