footer.main-footer {
    .logo-area {
        background: #fff;
        padding: 30px 0;
        
        .row {
            .col {
                text-align: center;
                font-family: $headings-font-family;
                
                display: flex;
                justify-content: space-between;

                @include media-breakpoint-up(md) {
                    justify-content: flex-end;
                }

                @include media-breakpoint-up(lg) {
                    text-align: right;
                }

                span {
                    margin-left: 40px;
                    display: none;
                    
                    &.first {
                        margin-left: 0;
                    }

                    @include media-breakpoint-up(lg) {
                        display: inline;
                    }
                }

                img {
                    height: 50px;
                    width: auto;
                    max-height: 70px;
                    @include media-breakpoint-up(md) {
                        margin-left: 25px;
                        
                    }

                    &.first {
                        margin-left: 0;
                        
                        @include media-breakpoint-up(lg) {
                            margin-left: 40px;
                        }
                    }

                    @include media-breakpoint-up(lg) {
                        margin-left: 40px;
                        display: inline;
                    }
                }
            }
        }
    }

    .link-area {
        background-image: url('/images/footer-bg.jpg');
        background-position: top center;
        background-repeat: repeat-x;
        background-size: 1500px 452px;
        color: #fff !important;
        padding: 70px 0 110px;

        .logo {
            width: 180px;
        }

        .footer-links {
            ul {
                li {
                    margin-bottom: 20px;

                    a {
                        color: #fff;
                        font-family: $headings-font-family;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .footer-social {
            order: -1;
            margin-bottom: 20px;

            @include media-breakpoint-up(md) {
                order: 13;
                margin-bottom: 0;
            }

            .wrapper {
                border-radius: $border-radius;
                background: rgba(0, 0, 0, 0.2);
                padding: 20px 15px;
                font-family: $headings-font-family;

                a {
                    color: #fff;
                    margin-bottom: 10px;
                    display: inline-block;

                    &:hover {
                        text-decoration: none;
                    }

                    &.nb {
                        margin-bottom: 0;
                    }
                }

                svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;

                    // @include media-breakpoint-up(md) {
                    //     display: block;
                    // }

                    @include media-breakpoint-up(xl) {
                        display: inline;
                    }

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}

// Call to action buttons in footer
.cta-links {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    opacity: 0;
    animation-delay: 2s;

    &::before {
        content: " ";
        position: absolute;
        top: 50%;
        height: 200%;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        border-top: 5px solid theme-color("yellow");
        transform: skew(0, -2deg);
    }

    .container {
        margin-bottom: 10px;
        max-width: 650px;
    }

    .col {
        // @include media-breakpoint-up(sm) {
        //     max-width: 220px;
        // }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            height: 44px;
            text-align: center;
            padding-right: 15px;

            @include media-breakpoint-up(sm) {
                font-size: 12px;
                text-align: left;
            }
            
            @include media-breakpoint-up(md) {
                font-size: 16px;
                height: 50px;
            }
            

            span {
                display: inline-block;
                text-align: center;

                br {
                    @include media-breakpoint-up(md){
                        display: none;
                    }
                }
            }

            svg {
                display: none;
            }

           
            
            @include media-breakpoint-up(md) {
                padding-right: 50px;

                svg {
                    display: block;
                }
            }
        }

        &:nth-child(2) {
            .btn {
                padding-right: 50px;
                transition: $transition;
                
                &:hover {
                    margin-top: -5px;
                    transition: $transition;
                }

                svg {
                    display: block;
                    margin-top: -3px;

                    @include media-breakpoint-up(sm) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

// Back to top button
.btn-back-top {
    display: block;
    position: fixed;
    bottom: 100px;
    right: 15px;
    width: 45px;
    height: 45px;
    opacity: 0;
    transition: $transition;
    border-radius: 75px;
    background: #fff;
    text-align: center;
    padding: 8px;
    z-index: 15;

    &.show {
        opacity: 1;
    }

    svg {
        width: 25px;
        height: 25px;
        transform: rotate(-90deg);

        path {
            fill: theme-color("orange");
        }
    }
}
.website-by{
    font-size: calculateRem(12px);
    img{
        max-width: 105px;
        margin-left: 10px;
    }
}