// stop scrollbar jumping content
html { 
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

main#body {
    overflow: hidden;
}

.img-responsive {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}


// target IE 10/11 and EDGE
html[data-useragent*='MSIE 10.0'],
html[data-useragent*='Edge/17.17134']
 {
    .subhero:before {
        top: 0
    }
}


hr.dotted{
    border-top: 2px dotted #9B9B9B;
}

