// Stop the yellow backgrounds overlapping previous section if added to sections other than first
.kse-grid {
    position: relative;
    z-index: 15;

    section:not(:first-child) {

        .animal-call-to-action-area,
        .ticket-call-to-action-area,
        .call-to-action-area,
        .subhero {
            &:before {
                clip-path: none;
                top: 0;
            }
        }
    }
}

// Two column grid editor row
.one-col-wrap {
    position: relative;
}

.two-col-wrap {
    padding: 50px 0;

    @include media-breakpoint-up(md) {
        padding: 150px 0;
    }

    @include media-breakpoint-up(lg) {
        .col:nth-child(3) {
            border-right: $border-dashed;
        }
    }
}


// Stack two-column sections in the same orientation on mobile
.section-media.section-rte {

    +.section-media.section-rte {
        .two-col-wrap {
            padding-top: 0;
        }
    }

    &:nth-child(odd) {
        @include media-breakpoint-down(md) {
            .second {
                order: -1;
            }
        }
    }
}