/*================================================================
MIXINS
=================================================================*/

@mixin clearfix() {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin v-c {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin h-c {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin v-h-c {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin responsive-width($mob-width: 100%, $tab-width: 50%, $tab-wide-width: percentage(1/3), $desk-width: 25%) {
    width: $mob-width;
    @media (min-width: $tab) {
        width: $tab-width;
    }
    @media (min-width: $tab-wide) {
        width: $tab-wide-width;
    }
    @media (min-width: $desk) {
        width: $desk-width;
    }
}



/*================================================================
FONT
=================================================================*/

//@import url('https://fonts.googleapis.com/css?family=Circular Std Black:300,400,700');
@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

/* usage:@include font-size(2); */

@mixin aspect-fixed($aspect_percent: 100%) {
    position: relative;
    display: table;
    width: 100%;
    padding-top: $aspect_percent;
    overflow: hidden;
    >* {
        width: 100%;
        height: auto;
        position: absolute;
        @include v-h-c; //   transition: all 0.4s ease;
        //   &:hover {
        //     transform: translate(-50%, -50%) scale(1.1);
        //   }
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    >.content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

// Clip and backgrounds for repeatable backgrounds
@mixin clip-pathable($img, $x, $y, $pull:0) {
    position: relative;
    
    &::before {
        content: " ";
        background-image: url($img);
        background-size: $x $y;
        position: absolute;
        top: $pull;
        bottom: 0;
        left: 0;
        right: 0;
        clip-path: polygon(0 40px, 100% 0, 100% 100%, 0% 100%);

        @include media-breakpoint-up(md) {
            clip-path: polygon(0 60px, 100% 0, 100% 100%, 0% 100%);
        }
        
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            /* IE10+ CSS styles go here */
            top: 0 !important;
            clip-path: none !important;
        }
        
        @supports (-ms-accelerator:true) {
            /* IE Edge 12+ CSS styles go here */
            top: 0 !important;
            clip-path: none !important;
        }

    }
}

// Used to select the correct title shape for the explore section
@mixin explore-shapes($pos) {
    &.blue {
        background-image: url("/images/explore/shape-" + $pos + "-blue.png");
    }
    
    &.dark-blue {
        background-image: url("/images/explore/shape-" + $pos + "-dark-blue.png");
    }
    
    &.dark-green {
        background-image: url("/images/explore/shape-" + $pos + "-dark-green.png");
    }
    
    &.green {
        background-image: url("/images/explore/shape-" + $pos + "-green.png");
    }
    
    &.light-green {
        background-image: url("/images/explore/shape-" + $pos + "-light-green.png");
    }
    
    &.lilac {
        background-image: url("/images/explore/shape-" + $pos + "-lilac.png");
    }
    
    &.orange {
        background-image: url("/images/explore/shape-" + $pos + "-orange.png");
    }
    
    &.purple {
        background-image: url("/images/explore/shape-" + $pos + "-purple.png");
    }
    
    &.red {
        background-image: url("/images/explore/shape-" + $pos + "-red.png");
    }
    
    &.turquoise {
        background-image: url("/images/explore/shape-" + $pos + "-turquoise.png");
    }
    
    &.yellow {
        background-image: url("/images/explore/shape-" + $pos + "-yellow.png");
    }
}

// Do SVG fill colours
@mixin svg-fill-colors() {
    svg {
        path, polygon {
            fill: theme-color("primary");
        }
    }

    &.blue {
        svg {
            path, polygon {
                fill: theme-color("blue");
            }
        }
    }

    &.dark-blue {
        svg {
            path, polygon {
                fill: theme-color("dark-blue");
            }
        }
    }

    &.dark-green {
        svg {
            path, polygon {
                fill: theme-color("dark-green");
            }
        }
    }

    &.green {
        svg {
            path, polygon {
                fill: theme-color("green");
            }
        }
    }

    &.light-green {
        svg {
            path, polygon {
                fill: theme-color("light-green");
            }
        }
    }

    &.lilac {
        svg {
            path, polygon {
                fill: theme-color("lilac");
            }
        }
    }

    &.orange {
        svg {
            path, polygon {
                fill: theme-color("orange");
            }
        }
    }

    &.purple {
        svg {
            path, polygon {
                fill: theme-color("purple");
            }
        }
    }

    &.red {
        svg {
            path, polygon {
                fill: theme-color("red");
            }
        }
    }

    &.turquoise {
        svg {
            path, polygon {
                fill: theme-color("turquoise");
            }
        }
    }

    &.yellow {
        svg {
            path, polygon {
                fill: theme-color("yellow");
            }
        }
    }
}

// Background colors of theme colors
@mixin bg-colors() {
    background-color: theme-color("primary");

    &.blue {
        background-color: theme-color("blue");
    }

    &.dark-blue {
        background-color: theme-color("dark-blue");
    }

    &.dark-green {
        background-color: theme-color("dark-green");
    }

    &.green {
        background-color: theme-color("green");
    }

    &.light-green {
        background-color: theme-color("light-green");
    }

    &.lilac {
        background-color: theme-color("lilac");
    }

    &.orange {
        background-color: theme-color("orange");
    }

    &.purple {
        background-color: theme-color("purple");
    }

    &.red {
        background-color: theme-color("red");
    }

    &.turquoise {
        background-color: theme-color("turquoise");
    }

    &.yellow {
        background-color: theme-color("yellow");
    }
}