$break: 1200px;
$break-max: 1199px;

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 510;
    width: 100%;
    transition: $transition;

    @include media-breakpoint-down(sm) {
        &.not-sticky {
            transform: translate3d(0, -100%, 0);
        }
    }

    @media screen and (max-width: $break-max) {
        .container {
            max-width: 100%;
            padding: 0;
        }
    }

    @media only screen and (min-width: 1500px) {
        .container {
            max-width: 1460px;
        }
    }

    header {
        @include aspect-ratio(375px, 82px);

        @include media-breakpoint-up(sm) {
            @include aspect-ratio(800px, 120px);

        }

        @include media-breakpoint-up(xl) {
            @include aspect-ratio(1420px, 120px);

        }

        >div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        transition: all 0.1s ease;
        //z-index: 5;
        background-image: url(/images/header-bg-mob.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;
        width: 100%;
        // height: 82px;

        @include media-breakpoint-up(md) {
            background-image: url(/images/header-bg.png);
            background-position: center -10px;
            background-size: cover;
        }

        .brand-col {
            flex: 0 0 50%;
            max-width: 50%;
            text-align: left;
            padding-left: 10px;
            padding-top: 10px;

            @include media-breakpoint-up(md) {
                text-align: center;
                -webkit-flex: 0 0 16.66666667%;
                -ms-flex: 0 0 16.66666667%;
                flex: 0 0 16.66666667%;
                max-width: 16.66666667%;
            }

            @media screen and (min-width: 1500px) {
                -webkit-flex: 0 0 25%;
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
            }

            .brand-logo {
                display: inline-block;

                @include media-breakpoint-up(md) {
                    padding: 10px 0 0 20px;

                }

                @media screen and (min-width: $break) {
                    padding: 0 0 0 10px;
                }

                @media screen and (min-width: 1500px) {
                    padding: 0;
                }

                img {
                    width: 105px;

                    @media (min-width: 1500px) {
                        width: 184px;
                    }
                }
            }
        }

        .nav-col {
            flex: 0 0 50%;
            max-width: 50%;

            @include media-breakpoint-up(md) {
                -webkit-flex: 0 0 83.33333333%;
                -ms-flex: 0 0 83.33333333%;
                flex: 0 0 83.33333333%;
                max-width: 83.33333333%;
            }

            @media screen and (min-width: 1500px) {
                -webkit-flex: 0 0 75%;
                -ms-flex: 0 0 75%;
                flex: 0 0 75%;
                max-width: 75%;
            }
        }

        #top-nav {
            #header-menu {
                @include media-breakpoint-up(xl) {
                    display: flex;
                    align-items: center;
                }
            }
            
        }

        @keyframes ticket-bounce {

            0%,
            20%,
            53%,
            80%,
            100% {
                transform: translate3d(0, 80%, 0);
            }

            40%,
            43% {
                transform: translate3d(0, calc(80% - 30px), 0);
            }

            70% {
                transform: translate3d(0, calc(80% - 15px), 0);
            }

            90% {
                transform: translate3d(0, calc(80% - 4px), 0);
            }
        }

        // Search icon
        .search {
            margin-left: 10px;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            
            svg {
                width: 25px;
                height: 25px;
                margin: 10px;
                transition: 0.3s transform ease-in-out;
                path {
                    fill: #fff;
                }
            }

           

            &.mobile {
                display: block;
                float: right;
                margin: 10px 25px 23px;
                width: 45px;
                height: 45px;
                color: $white;
                background-color: #EC6706;
                line-height: 38px;
                text-align: center;
                border-radius: 50%;

                @media screen and (min-width: $break) {
                    display: none;
                }
            }

            &.desktop {
                display: none;

                @media screen and (min-width: $break) {
                    display: inline-block;
                }
            }

            &:hover {
                svg {
                    transform: scale3d(1.2, 1.2, 1.2);
                   
                }
        
            }

            a {
                display: block;
                background-image: none;
                background-color: theme-color("orange");
                color: #fff;
                width: 40px;
                height: 40px;
                border-radius: 40px;
                padding: 0px !important;
                text-align: center;

                &:hover {
                    background-image: none !important;
                }

                svg {
                    width: 20px;
                    height: 20px;

                    path {
                        fill: #fff;
                    }
                }
            }
        }



        .menu-toggle {
            line-height: 25px;
        }

        .menu-close {
            cursor: pointer;
            text-align: right;
            color: #fff;
            padding: 26px 0 29px 10px;
            border-bottom: 2px dotted #9B9B9B;

            @include media-breakpoint-up(xl) {
                border-bottom: 0px dotted transparent;
            }

            @include media-breakpoint-up(xl) {
                display: none;
            }
        }

        .menu-open {
            display: block;
            height: 25px;
            width: 25px;
            margin-right: 10px;
            margin-top: 20px;
            float: right;
            cursor: pointer;

            @include media-breakpoint-up(xl) {
                display: none;
            }
        }
    }
}

//Search Form
#mobile-search-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 30px 20px;
    transform: translate3d(0, -150%, 0);
    transition: transform 0.3s;
    background-image: url(/images/illustrations/meerkats.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 80% auto;

    @include media-breakpoint-up(lg) {
        background-size: auto;
    }

    &.open-search {
        transform: translate3d(0, -0%, 0);
    }

    form {
        position: relative;
        width: 100%;

        input {
            border: 0px solid transparent;
            border-bottom: 2px dotted $gray-600;
            font-size: calculateRem(24px);
            padding: 20px 60px 20px 10px;
            width: 100%;

            &::placeholder {
                font-style: italic;
                font-size: calculateRem(24px);
            }
        }

        button {
            position: absolute;
            right: 14px;
            top: 0;
            border: 0px solid transparent;
            background-color: transparent;
            font-size: 25px;
            padding: 20px 0px;

            svg {
                width: 40px;

                path {
                    fill: #EC6706;
                }
            }
        }
    }
}

.header-menu-container {
    font-family: $headings-font-family;
    position: relative;

    #cta-buy-tix {
        @include media-breakpoint-up(xl) {
            background: url('/images/buy-tickets-bg.png');
            background-size: cover;
            background-position: center center;
            width: 215px;
            height: 70px;
            position: absolute;
            right: 100px;
            bottom: 0px;
            z-index: -1;
            animation-name: ticket-bounce;
            animation-duration: 1s;
            animation-delay: 0s;
            transform: translate3d(0, 79%, 0);
        }

        @media(min-width: 1500px) {
            transform: translate3d(0, 91%, 0);
        }
    }

    .btn-buy-tix {
        color: #fff;
        transition: $transition;
        padding-left: 0;

        @include media-breakpoint-down(lg) {
            background: #9CA700;
            padding: 15px 45px 15px 15px;
            border-radius: 5px;
            margin: 15px 0;
            font-size: 20px;
            text-transform: uppercase;
        }

        @include media-breakpoint-up(xl) {
            position: absolute;
            width: 215px;
            height: 70px;
            right: 100px;
            bottom: 0px;
            z-index: 1;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            text-transform: uppercase;
            padding-top: 20px;

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                /* IE10+ CSS styles go here */
                padding-top: 0;
            }

            animation-name: ticket-bounce;
            animation-duration: 1s;
            animation-delay: 0s;
            transform: translate3d(0, 79%, 0);

        }

        @media(min-width: 1500px) {
            transform: translate3d(0, 96%, 0);
        }

        svg {
            width: 20px;
            margin-left: 7px;
            transition: $transition;

            path {
                fill: #fff;
            }
        }

        &:hover {
            text-decoration: none;
            transform: translate3d(0, 2px, 0);
            transition: $transition;

            @include media-breakpoint-up(xl) {

                transform: translate3d(0, 79%, 0) scale(1.1, 1.1);

            }

            @media(min-width: 1500px) {
                transform: translate3d(0, 96%, 0) scale(1.1, 1.1);
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin-bottom: 0;

        li {
            border-bottom: 2px dotted #9B9B9B;

            @include media-breakpoint-up(xl) {
                border-bottom: 0px dotted transparent;
                display: inline-block;

            }

            > a {
                color: $white;
                font-size: calculateRem(20px);
                text-transform: uppercase;
                font-family: $headings-font-family;
                padding: 26px 0px;
                display: block;

                @include media-breakpoint-up(xl) {
                    padding: 29px 0;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    text-transform: uppercase;
                    display: inline-block;
                    color: $body-color;
                }

                &:hover {
                    text-decoration: none;
                }

                @include media-breakpoint-up(xl) {
                    padding: 20px 10px;

                    &:hover {
                        background-image: url(/images/blue-nav-hover.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: bottom center;
                        color: #fff;
                    }
                }

                @media screen and (min-width: 1500px) {
                    padding: 20px 10px;
                }
            }

            &.has-subnav {
                //parent li
                position: relative;
                flex-direction: column;

                &:hover {
                    @include media-breakpoint-up(xl) {
                        background-color: #133a4a;

                        a {
                            background-image: none;
                            background-color: transparent;
                            color: #fff;
                        }

                    }
                }

                &:hover {
                    .icon-toggle-subnav {
                        color: #fff;

                        &:before {
                            color: #fff !important;
                        }
                    }

                    @include media-breakpoint-up(xl) {
                        .subnav {
                            display: block !important;
                        }
                    }
                }

                >a {
                    //border: 1px solid red;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    >.icon-arrow-right {
                        display: block;
                        transition: transform 0.3s;
                        transform: rotate3d(0, 0, 1, -90deg);

                        &.collapsed {
                            transform-origin: 50%;
                            transform: rotate3d(0, 0, 1, 90deg);

                        }

                        @include media-breakpoint-up(xl) {
                            display: none;

                        }
                    }

                }

                .icon-toggle-subnav {
                    color: #fff;

                    &:before {
                        color: #fff !important;
                    }
                }


                .subnav {
                    padding: 0;
                    z-index: 1;
                    list-style-type: none;
                    overflow: hidden;

                    li {
                        display: block;
                        width: 100%;
                        border-top: 2px dotted #9B9B9B;
                        transition: background-color 0.3s;

                        @include media-breakpoint-up(xl) {
                            width: 280px;

                            &:last-of-type {
                                border-bottom: 2px dotted #9B9B9B;
                            }
                        }

                        a {
                            background-color: theme-color("dark-blue-over");
                            color: #fff;
                            display: block;
                            text-transform: uppercase;
                            font-size: calculateRem(20px);
                            line-height: 24px;
                            padding: 15px 10px;
                            text-align: left;
                            border-radius: 5px;
                            margin: 15px 0;

                            .icon-arrow-right {
                                display: none;
                            }

                            @include media-breakpoint-up(xl) {
                                font-size: calculateRem(16px);
                                display: flex;
                                white-space: nowrap;
                                align-items: center;
                                justify-content: space-between;
                                background-color: transparent;
                                border-radius: 0px;
                                text-align: left;
                                padding: 20px 0px;
                                margin: 0px;

                                .icon-arrow-right {
                                    display: block;
                                    font-size: 10px;
                                }
                            }

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }

                    @include media-breakpoint-up(xl) {
                        background-color: theme-color("dark-blue");
                        display: none;
                        padding: 20px;
                        position: absolute;
                        max-width: 320px;
                        left: 0;
                        top: 100%;
                    }
                }

                .icon-toggle-subnav {
                    // span
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                    height: 50px;
                    line-height: 50px;
                    width: 50px;
                    font-size: 14px;
                    text-align: center;
                    cursor: pointer;

                    &:before {
                        height: 50px;
                        line-height: 50px;
                        width: 50px;
                        transition: 0.3s all ease;
                    }

                    @include media-breakpoint-up(xl) {
                        display: none;
                    }
                }
            }

            @include media-breakpoint-up(xl) {
                &.active {
                    a {
                        background-image: url(/images/blue-nav-hover.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: bottom center;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.mob-menu-socmed {
    padding: 29px 0px;

    a {
        display: block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
        width: 45px;
        height: 45px;
        margin: auto;
        border-radius: 50%;
        line-height: 42px;

        svg {
            max-width: 25px;
            max-height: 25px;

            path {
                fill: #fff;
            }
        }
    }
}