.searchresults {
    padding-top: 75px;

    @include media-breakpoint-up(md) {
        padding-top: 150px;
    }

    .result-row {
        padding-top: 20px;
        padding-bottom: 20px;

        >.col {
            position: relative;

            &:before {
                content: "";
                display: block;
                border-top: $border-dashed;
                position: absolute;
                top: -20px;
                left: 10px;
                right: 10px;
            }
        }
        
        &:last-of-type {
            > .col:after {
                content: "";
                display: block;
                border-top: $border-dashed;
                position: absolute;
                bottom: -20px;
                left: 10px;
                right: 10px;
            }
            margin-bottom: 50px;
        }

        .image-wrapper {
            border-radius: $border-radius;
            @include aspect-ratio(180px, 102px);
            overflow: hidden;

            img {
                @include v-h-c;
            }
        }
    }

    // ul
    .paging {
        list-style-type: none;
        padding: 0;
        margin-bottom: 50px;
        @include media-breakpoint-up(md) {
            margin-bottom: 100px;
        }

        li {
            margin: 0 5px;

            &.selected {
                a {
                    background-color: theme-color("secondary");
                    color: #fff;
                }
            }

            a {
                font-size: 12px;
                font-weight: bold;
                text-align: center;
                width: 20px;
                height: 20px;
                line-height: 20px;
                display: block;
                border-radius: 50%;

                i {
                    font-size: 10px;

                    @include media-breakpoint-up(md) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}