/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.

 */

 // Breakpoints

 $grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1420px
);

// Colors - https://projects.invisionapp.com/share/W7QHLZSSN2C#/screens
$theme-colors: (
    "primary": #9ca700, // aliased with color version
    "primary-over": #7e8600, // aliased with color version
    "secondary": #ec6706, // aliased with color version
    "secondary-over": #bd5508, // aliased with color version
    "tertiary": #009fe4, // aliased with color version
    "tertiary-over": #0084bd, // aliased with color version
    "light-green": #9ca700, // primary alias
    "light-green-over": #7e8600, // primary over alias
    "yellow": #fec600,
    "yellow-over": #daaa00,
    "blue": #0084BD, // tertiary alias
    "blue-over": #0084bd, // tertiary over alias
    "green": #45ab02,
    "green-over": #348200,
    "red": #e50150,
    "red-over": #b80040,
    "orange": #ec6706, // secondary alias
    "orange-over": #bd5508, // secondary over alias
    "turquoise": #049d97,
    "turquoise-over": #046f6b,
    "purple": #32143d,
    "purple-over": #15091a,
    "lilac": #7676b6,
    "lilac-over": #5e5e90,
    "dark-green": #00707d,
    "dark-green-over": #014851,
    "dark-blue": #133a4a,
    "dark-blue-over": #0a2028,
    "blue-grey": #484A5A
);
$body-color: #4A4A4A;

// Options
$enable-rounded: true;
$enable-transitions: true;

// Borders
$border-radius: 5px;
$border-radius-lg: 5px;
$border-radius-sm: 5px;

$border-dashed: 2px dashed #9B9B9B;

// Forms - inherited by btns
$input-btn-font-size: 1rem; // 16px (base)
$input-btn-font-size-sm: 1rem;
$input-btn-font-size-lg: 1rem;
$input-btn-padding-y: 0.9375rem; // 15px
$input-btn-padding-x: 0.9375rem;
$input-btn-padding-y-sm: 0.9375rem;
$input-btn-padding-x-sm: 0.9375rem;
$input-btn-padding-y-lg: 0.9375rem;
$input-btn-padding-x-lg: 0.9375rem;

// Grid
$grid-gutter-width: 20px;

// Fonts
$font-family-sans-serif: mr-eaves-xl-sans, sans-serif;

$headings-font-family: brandon-grotesque, sans-serif;
$headings-font-weight: normal; // font is bold, so normal is standard bold

//////// Custom
$transition: all ease-in-out 0.3s; // TE

// Box shadows
$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);

// Links
//
// Style anchor elements.

$link-color:                              $body-color;
$link-decoration:                         none;
$link-hover-color:                        $body-color;
$link-hover-decoration:                   none;


// Cards

$card-border-width:                 0;
$card-cap-bg:                       #fff;

// Ensure image cap has border radius
$card-inner-border-radius: 5px;

// Breadcrumbs

// $breadcrumb-padding-y:              .75rem !default;

// $breadcrumb-margin-bottom:          1rem !default;

// $breadcrumb-divider:                quote("/") !default;

// $breadcrumb-border-radius:          $border-radius !default;

$breadcrumb-bg:                     transparent;
$breadcrumb-padding-x:              20px;
$breadcrumb-item-padding:           20px;
$breadcrumb-divider-color:          #fff;
$breadcrumb-active-color:           #fff;

// Font sizes

