﻿@model dynamic
@using Umbraco.Web.Templates

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="rte py-4">
                @Html.Raw( TemplateUtilities
                    .ParseInternalLinks(Model.value.ToString()
                        .Replace("<table ", "<div class=\"table-wrapper mb-4\"><table \" ")
                        .Replace("</table>", "</table></div>")
                        .Replace("<iframe ", "<div class=\"umb-video-wrapper\"><iframe \" ")
                        .Replace("</iframe>", "</iframe></div>")
                        .Replace("<img ", "<img class=\"img-responsive\" ") ) )

            </div>
        </div>
    </div>
</div>
