﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var home = (Home)Model.Content.Site();
    var leftLinks = home.FooterLinksLeft;
    var rightLinks = home.FooterLinksRight;
    IPublishedContent footerLogo = home.GetPropertyValue<IPublishedContent>("footerLogo");
}

<footer class="main-footer">
    <div class="logo-area">
        <div class="container">
            <div class="row">
                <div class="col align-items-center">
                    <span class="first">In association with:</span>
                    <img src="/images/logos/biaza.png" alt="Biaza" class="first">
                    <img src="/images/logos/eaza.png" alt="Eaza">

                    <span>Our Awards:</span>
                    <img src="/images/logos/liverpool-city-tourism-awards-winner.png" alt="Liverpool City Tourism Awards Winner">
                    <img src="/images/trip-advisor.png" alt="Trip Advisor">
                </div>
            </div>
        </div>
    </div> <!-- .logo-area -->

    <div class="link-area">
        <div class="container">
            <div class="row">
                <div class="d-none d-xl-block col-xl-2 logo">
                    <a class="logo" href="/">
                        <img src="/images/logo-white.png?width=180" alt="Knowsley Safari">
                    </a>
                </div>
                <div class="col-6 col-md-3 col-xl-3 offset-xl-1 footer-links footer-links-left">
                    <ul class="list-unstyled">
                        @if( leftLinks != null ) {
                            foreach (var link in leftLinks) {
                                <li>
                                    <a href="@link.Link"  target="@(link.NewWindow ? "_blank" : null)">@link.Caption</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-6 col-md-3 col-xl-3 footer-links footer-links-right">
                    <ul class="list-unstyled">
                        @if( rightLinks != null ) {
                            foreach (var link in rightLinks) {
                                <li>
                                    <a href="@link.Link"  target="@(link.NewWindow ? "_blank" : null)">@link.Caption</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-xl-3 footer-social">
                    <div class="container">
                        <div class="row wrapper">
                            <div class="col-6">
                                <a href="https://www.facebook.com/knowsleysafari/" target="_blank">
                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/facebook.svg")))
                                    Facebook
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="https://www.instagram.com/knowsleysafari/?hl=en" target="_blank">
                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/instagram.svg")))
                                    Instagram
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="https://twitter.com/KnowsleySafari" class="nb" target="_blank">
                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/twitter.svg")))
                                    Twitter
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="https://www.youtube.com/channel/UCEMvLQzqyX3E2p4rXgGpCIA" class="nb" target="_blank">
                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/youtube.svg")))
                                    YouTube
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- .link-area -->
</footer>

<!-- Call to action buttons and back to top button -->
<div class="cta-links animated fadeIn">
    <div class="container">
        <div class="row text-center">
            <div class="col col-4">
                <a class="btn btn-block btn-secondary btn-width-icon" href="/plan-your-visit/opening-times/">
                    <span>
                        Opening<br> Times
                    </span>
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/timer.svg")))
                </a>
            </div>
            <div class="col col-4">
                <a class="btn btn-block btn-primary btn-width-icon" href="https://www.myonlinebooking.co.uk/knowsleysafari/buy.aspx?tid=1">
                    <span>
                        Buy<br> Tickets
                    </span>
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/ticket.svg")))
                </a>
            </div>
            <div class="col col-4">
                <a class="btn btn-block btn-secondary btn-width-icon" href="/plan-your-visit/">
                    <span>
                        Plan Your<br> Visit
                    </span>
                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/map.svg")))
                </a>
            </div>
        </div>
    </div>
</div>

<a class="btn-back-top" href="#body">
    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
</a>