﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    var home = (Home)Model.Content.Site();
    var searchLinks = home.SearchLinks;
}
<nav class="main-nav sticky">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <header>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col brand-col">
                                @if (home.SiteLogo != null && !string.IsNullOrEmpty(home.SiteLogo.Url))
                                {
                                <a class="brand-logo" href="/">
                                    <img class="logo-image content" src="@(home.SiteLogo.Url)" alt="@home.SiteName">
                                </a>
                                }
                                else
                                {
                                <a class="brand-logo" href="/">@home.SiteName</a>
                                }
                            </div>
                            <div class="col nav-col">

                                <!-- Desktop nav -->
                                <nav id="top-nav" role="navigation" class="d-none d-xl-block">
                                    <div class="header-menu-container">
                                        <div id="cta-buy-tix"></div>
                                        <a class="btn-buy-tix d-none d-xl-block" href="https://www.myonlinebooking.co.uk/knowsleysafari/buy.aspx?tid=1">
                                            <span>Buy Tickets</span>
                                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/ticket.svg")))
                                        </a>

                                        <div style="" class="menu-toggle menu-close">
                                            <i class="icon-remove"></i>
                                        </div>
                                        <a class="btn-buy-tix d-block d-xl-none" href="https://www.myonlinebooking.co.uk/knowsleysafari/buy.aspx?tid=1">
                                            Buy Tickets
                                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/ticket.svg")))
                                        </a>

                                        @{
                                            var uri = HttpContext.Current.Request.Url.PathAndQuery;
                                        }
                                        
                                        <ul id="header-menu" class="menu">
                                            <li class="@( uri == "/"  ? "active" : "" )">
                                                <a href="/" >Home</a>
                                            </li>
                                            <li class="has-subnav @( uri.StartsWith("/plan-your-visit")  ? "active" : "" )">
                                                <a href="/plan-your-visit/">
                                                    Plan your visit 
                                                    <i class="icon-arrow-right text-orange collapsed" data-toggle="collapse" 
                                                    data-target="#plan-your-visit-sub" 
                                                    aria-expanded="false"></i>
                                                </a>
                                                <ul class="subnav collapse" id="plan-your-visit-sub" data-parent="#header-menu">
                                                    <li>
                                                        <a href="/plan-your-visit/tickets-and-prices/">Tickets and Prices<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/plan-your-visit/tickets-and-prices/memberships/">Memberships<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/plan-your-visit/opening-times/">Opening Times <i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/plan-your-visit/getting-here/">Getting Here<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/plan-your-visit/tickets-and-prices/animal-experiences/">Animal Experiences<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/plan-your-visit/food-and-drink/">Food and Drink<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/plan-your-visit/accessibility/">Accessibility<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-subnav @( uri.StartsWith("/explore")  ? "active" : "" )">
                                                <a href="/explore/">Explore <i class="icon-arrow-right text-orange collapsed" 
                                                data-toggle="collapse" 
                                                data-target="#explore-sub" 
                                                aria-expanded="false"></i></a>
                                                <ul class="subnav collapse" id="explore-sub" data-parent="#header-menu">
                                                    <li>
                                                        <a href="/explore/drive-safari/">Safari Drive<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/explore/foot-safari/">Foot Safari<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/explore/our-animals/">Animals<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/explore/maps/">Maps<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/explore/amusements/">Amusements<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/explore/download-knowsley-safari-app/">Download the app<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/explore/baboon-bus/">Baboon Bus<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-subnav @( uri.StartsWith("/whats-on")  ? "active" : "" )">
                                                <a href="/whats-on/">What's on
                                                    <i class="icon-arrow-right text-orange collapsed" data-toggle="collapse" 
                                                    data-target="#whats-on-sub" 
                                                    aria-expanded="false"></i>
                                                </a>
                                                <ul class="subnav collapse" id="whats-on-sub" data-parent="#header-menu">
                                                    <li>
                                                        <a href="/whats-on/events/">Events<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/whats-on/animal-displays/">Animal Displays<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/whats-on/talks/">Daily Animal Talks<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="/blog/">Blog<i class="icon-arrow-right text-orange"></i></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-subnav @( uri.StartsWith("/conservation")  ? "active" : "" )">
                                                <a class="" href="/conservation/">Conservation
                                                    <i class="icon-arrow-right text-orange collapsed" data-toggle="collapse" data-target="#conservation-sub" aria-expanded="false"></i></a>
                                                <ul class="subnav collapse" id="conservation-sub" data-parent="#header-menu">
                                                    <li>
                                                        <a href="/conservation/in-action/">
                                                            In action
                                                            <i class="icon-arrow-right text-orange"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/conservation/research/">
                                                            Research
                                                            <i class="icon-arrow-right text-orange"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-subnav @( uri.StartsWith("/education")  ? "active" : "" )">
                                                <a class="" href="/education/">Education
                                                    <i class="icon-arrow-right text-orange collapsed" data-toggle="collapse" data-target="#education-sub" aria-expanded="false"></i>
                                                </a>
                                                <ul class="subnav collapse" id="education-sub" data-parent="#header-menu">
                                                    <li>
                                                        <a href="/education/resources/">
                                                            Resources
                                                            <i class="icon-arrow-right text-orange"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/education/kids-club/">
                                                            Kids Clubs
                                                            <i class="icon-arrow-right text-orange"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/education/plan-your-school-visit/">
                                                            Plan Your School Visit
                                                            <i class="icon-arrow-right text-orange"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/education/uniform-groups/">
                                                            Uniform Groups
                                                            <i class="icon-arrow-right text-orange"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/education/community/">
                                                            Community
                                                            <i class="icon-arrow-right text-orange"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/education/after-school-clubs/">
                                                            After School Clubs
                                                            <i class="icon-arrow-right text-orange"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="@( uri.StartsWith("/contact")  ? "active" : "" )"><a class="" href="/contact/">Contact Us</a></li>
                                            <li class="search desktop ">
                                                <a href="#" class="search-trigger">
                                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/binoculars.svg")))
                                                </a>
                                            </li>
                                            <li class="d-block d-xl-none mob-menu-socmed">
                                                <div class="row wrapper">
                                                    <div class="col-3">
                                                        <a href="https://www.facebook.com/knowsleysafari/" target="_blank">
                                                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/facebook.svg")))
                                                        </a>
                                                    </div>
                                                    <div class="col-3">
                                                        <a href="https://www.instagram.com/knowsleysafari/?hl=en" target="_blank">
                                                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/instagram.svg")))
                                                        </a>
                                                    </div>
                                                    <div class="col-3">
                                                        <a href="https://twitter.com/KnowsleySafari" class="nb" target="_blank">
                                                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/twitter.svg")))
                                                        </a>
                                                    </div>
                                                    <div class="col-3">
                                                        <a href="https://www.youtube.com/channel/UCEMvLQzqyX3E2p4rXgGpCIA" class="nb" target="_blank">
                                                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/youtube.svg")))
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="py-4 d-flex d-lg-none">
                                                <div class="row align-items-center justify-content-start">
                                                    <div class="col website-by">
                                                        <small class="text-white">Website by</small>
                                                        <img src="/images/reckless-full-logotype-2018-Copy.svg" class="img-fluid">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                               
                                <a class="menu-toggle menu-open js-menu-trigger">
                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/burger-nav.svg")))
                                </a>
                                <div class="search mobile search-trigger" id="search-mobile">
                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/binoculars.svg")))
                                </div>
                            </div>
                        </div>

                    </div><!-- c-f -->
                </header>
            </div>
        </div>
    </div>
</nav>

 <!-- Mobile nav -->
 
    <div id="dl-menu" class="dl-menuwrapper header-menu-container d-xl-none">
        <ul class="dl-menu">
            <li class="menu-close js-menu-trigger d-block">
                <i class="icon-remove"></i>
            </li>
            <li>
                <a class="btn-buy-tix d-block d-xl-none" href="https://www.myonlinebooking.co.uk/knowsleysafari/buy.aspx?tid=1">Buy tickets
                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/ticket.svg")))</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/plan-your-visit/">
                    Plan your visit 
                    <i class="icon-arrow-right text-orange"></i>
                </a>
                <ul class="dl-submenu">
                    <li>
                        <a href="/plan-your-visit/">Plan Your Visit Home</a>
                    </li>
                    <li>
                        <a href="/plan-your-visit/tickets-and-prices/">Tickets and Prices</a>
                    </li>
                    <li>
                        <a href="/plan-your-visit/tickets-and-prices/memberships/">Memberships</a>
                    </li>
                    <li>
                        <a href="/plan-your-visit/opening-times/">Opening Times </a>
                    </li>
                    <li>
                        <a href="/plan-your-visit/getting-here/">Getting Here</a>
                    </li>
                    <li>
                        <a href="/plan-your-visit/tickets-and-prices/animal-experiences/">Animal Experiences</a>
                    </li>
                    <li>
                        <a href="/plan-your-visit/food-and-drink/">Food and Drink</a>
                    </li>
                    <li>
                        <a href="/plan-your-visit/accessibility/">Accessibility</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/explore/">Explore <i class="icon-arrow-right text-orange"></i></a>
                <ul class="dl-submenu">
                    <li>
                        <a href="/explore/">Explore Home</a>
                    </li>
                    <li>
                        <a href="/explore/drive-safari/">Safari Drive</a>
                    </li>
                    <li>
                        <a href="/explore/foot-safari/">Foot Safari</a>
                    </li>
                    <li>
                        <a href="/explore/our-animals/">Animals</a>
                    </li>
                    <li>
                        <a href="/explore/maps/">Maps</a>
                    </li>
                    <li>
                        <a href="/explore/amusements/">Amusements</a>
                    </li>
                    <li>
                        <a href="/explore/download-knowsley-safari-app/">Download the app</a>
                    </li>
                    <li>
                        <a href="/explore/baboon-bus/">Baboon Bus</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/whats-on/">What's on
                    <i class="icon-arrow-right text-orange"></i>
                </a>
                <ul class="dl-submenu">
                    <li>
                        <a href="/whats-on/">What's On Home</a>
                    </li>
                    <li>
                        <a href="/whats-on/events/">Events</a>
                    </li>
                    <li>
                        <a href="/whats-on/animal-displays/">Animal Displays</a>
                    </li>
                    <li>
                        <a href="/whats-on/talks/">Daily Animal Talks</a>
                    </li>
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/conservation/">Conservation
                    <i class="icon-arrow-right text-orange"></i>
                </a>
                <ul class="dl-submenu">
                    <li>
                        <a href="/conservation/">
                            Conservation Home
                        </a>
                    </li>
                    <li>
                        <a href="/conservation/in-action/">
                            In action
                        </a>
                    </li>
                    <li>
                        <a href="/conservation/research/">
                            Research
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="" href="/education/">Education
                    <i class="icon-arrow-right text-orange"></i>
                </a>
                <ul class="dl-submenu">
                    <li>
                        <a href="/education/">
                            Education Home
                        </a>
                    </li>
                    <li>
                        <a href="/education/resources/">
                            Resources
                        </a>
                    </li>
                    <li>
                        <a href="/education/kids-club/">
                            Kids Clubs
                        </a>
                    </li>
                    <li>
                        <a href="/education/plan-your-school-visit/">
                            Plan Your School Visit
                        </a>
                    </li>
                    <li>
                        <a href="/education/uniform-groups/">
                            Uniform Groups
                        </a>
                    </li>
                    <li>
                        <a href="/education/community/">
                            Community
                        </a>
                    </li>
                    <li>
                        <a href="/education/after-school-clubs/">
                            After School Clubs
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="/contact-us/">Contact Us</a></li>
            <li class="d-block d-xl-none mob-menu-socmed">
                <div class="row wrapper">
                    <div class="col-3">
                        <a href="https://www.facebook.com/knowsleysafari/" target="_blank">
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/facebook.svg")))
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.instagram.com/knowsleysafari/?hl=en" target="_blank">
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/instagram.svg")))
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="https://twitter.com/KnowsleySafari" class="nb" target="_blank">
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/twitter.svg")))
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.youtube.com/channel/UCEMvLQzqyX3E2p4rXgGpCIA" class="nb" target="_blank">
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/youtube.svg")))
                        </a>
                    </div>
                </div>
            </li>
            <li class="py-4 d-flex d-lg-none mb-4">
                <div class="row align-items-center justify-content-start">
                    <div class="col website-by">
                        <small class="text-white">Website by</small>
                        <img src="/images/reckless-full-logotype-2018-Copy.svg" class="img-fluid">
                    </div>
                </div>
            </li>
        </ul>
    </div>
<!-- Search form -->
<div id="mobile-search-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h2 text-secondary text-uppercase text-center pb-4">
                    Looking for something?
                </div>
                <div class="w-100">
                    <form action="/search/" method="GET">
                        <input id="search-input" type="text" placeholder="Search..." name="query">
                        <button class="search-submit">@Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/binoculars.svg")))</button>
                    </form>
                </div>
                <div class="pt-5">
                    @if (searchLinks != null)
                    {
                        foreach( var link in searchLinks ){
                            <a class="d-block text-body py-2" role="button" target="@(link.NewWindow ? "_blank" : null)" href="@link.Link">
                                    @link.Caption
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</div>

@* Render out breadcrumbs *@
@if (CurrentPage.Ancestors().Any())
{
<div class="breadcrumb-wrap">
    <div class="container">
        <nav aria-label="breadcrumb" class="d-none d-xxl-block">
            <ol class="breadcrumb">
                @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
                @foreach (var page in Model.Content.Ancestors().OrderBy("Level"))
                {
                <li class="breadcrumb-item">
                    <a href="@page.Url">@page.Name</a>
                </li>
                }
                @* Display the current page as the last item in the list *@
                <li class="breadcrumb-item active">
                    @Model.Content.Name
                </li>
            </ol>
        </nav>
        @* Back button *@
        @if(Request.UrlReferrer != null)
        {
            <a class="btn btn-width-icon-left btn-back d-xxl-none" onclick="history.go(-1); return false;" href="#">
                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-left.svg")))
                Back
            </a>
        }
    </div>
</div>
}

