@inherits UmbracoViewPage<dynamic>
@using Umbraco.Web.Templates
@using Newtonsoft.Json.Linq

@if (Model != null && Model.sections != null)
{
    <div class="kse-grid">
        @foreach (var s in Model.sections) {
            foreach (var row in s.rows) {
                @renderRow(row, false);
            }
        }
    </div>
}

@helper renderRow(dynamic row, bool singleColumn){
    var areas = row.areas;
    var sectionClasses = "";
    foreach( var area in row.areas ){
        foreach( var control in area.controls ){
            if( control !=null && control.editor != null && control.editor.view != null ){
                sectionClasses += "section-";
                sectionClasses += control.editor.alias + ' ';

                if(control.editor.alias == "macro"){
                    sectionClasses += "section-macro-";
                    sectionClasses += control.value.macroAlias.ToString().ToLower().Replace(" ", "");
                }
            }
        }
    }
    
    <section @RenderElementAttributes(row) class="@sectionClasses @(row.areas.Count)-col">
        @* Two column row *@
        @if(row.areas.Count == 2){
            <div class="two-col-wrap">
                <div class="container">
                    <div class="row">
                        @{int i = 0;}
                        @foreach ( var area in row.areas ) {
                            <div class="d-none d-lg-block col col-lg-1"></div>
                            <div class="col col-12 col-lg-4  @( i == 0 ? "first" : "second" )">
                                <div @RenderElementAttributes(area)>
                                    @foreach (var control in area.controls) {
                                        if (control !=null && control.editor != null && control.editor.view != null ) {
                                            <text>@Html.Partial("grid/editors/base", (object)control)</text>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="d-none d-lg-block col col-lg-1"></div>
                            i++;
                        }
                    </div>
                </div>
            </div>
           @* Single column row *@
        } else {
            foreach ( var area in row.areas ) {
                <div class="one-col-wrap">
                    @foreach (var control in area.controls) {
                        if (control !=null && control.editor != null && control.editor.view != null ) {
                            <text>@Html.Partial("grid/editors/base", (object)control)</text>
                        }
                    }
                </div>
            }
        }
    </section>
}

@functions {
    public static MvcHtmlString RenderElementAttributes(dynamic contentItem)
    {
        var attrs = new List<string>();
        JObject cfg = contentItem.config;

        if(cfg != null)
            foreach (JProperty property in cfg.Properties())
            {
                var propertyValue = HttpUtility.HtmlAttributeEncode(property.Value.ToString());
                attrs.Add(property.Name + "=\"" + propertyValue + "\"");
            }

        JObject style = contentItem.styles;

        if (style != null) {
            var cssVals = new List<string>();
            foreach (JProperty property in style.Properties())
            {
                var propertyValue = property.Value.ToString();
                if (string.IsNullOrWhiteSpace(propertyValue) == false)
                {
                    cssVals.Add(property.Name + ":" + propertyValue + ";");
                }
            }

            if (cssVals.Any())
                attrs.Add("style=\"" + HttpUtility.HtmlAttributeEncode(string.Join(" ", cssVals)) + "\"");
        }

        return new MvcHtmlString(string.Join(" ", attrs));
    }
}