﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Text.RegularExpressions;

@{
	Layout = "Master.cshtml";
    var datatype = Umbraco.DataTypeService.GetDataTypeDefinitionByName("Blog post - Blog category - Checkbox list");
    var preValues = Umbraco.DataTypeService.GetPreValuesByDataTypeId(datatype.Id);
}

@{ 
    bool useSlitSlider = Model.Content.GetPropertyValue<bool>("useSlitSlider");

    // Checkbox to choose between slit slider and standard slider
    if( useSlitSlider )
    {
        Html.RenderPartial("Partials/Content/_slitSlider"); 
    } else {
        Html.RenderPartial("Partials/Content/_genericHeroCarousel"); 
    }
}

@* Category selector *@
<section class="search-filter">
    <div class="container text-center">
        <div class="select-wrapper icon-arrow-right">
            <select name="" id="" onchange="location = this.value;" class="">
                <option value="/blog/" class="">Select a category</option>
                @foreach(var item in preValues)
                {
                    if( item != "0" )
                    {
                        <option value="/category/@GenerateSlug(item)/">@item</option>
                    }
                }
            </select>
        </div>
    </div>
</section>

@* Featured blog post *@

@{
    IPublishedContent featuredPost = Model.Content.HasValue("blogPostPicker") ? Model.Content.GetPropertyValue<IPublishedContent>("blogPostPicker") : Model.Content.AncestorOrSelf().Descendants("blogPost").First();
    
    var featuredImage = featuredPost.GetPropertyValue("featuredImage");
    var contentType = featuredPost.DocumentTypeAlias;
    if( contentType == "blogPost" ){
        <section class="featured-post">
            <div class="container">
                <div class="row">
                    <div class="col col-12">
                        <a href="@featuredPost.Url">
                            <div class="card border-0">
                                <img class="card-img-top" src="@featuredPost.GetCropUrl("featuredImage", "blogFeaturedImage")" alt="Card image cap">
                                <div class="card-body">
                                    <div class="card-title">@featuredPost.Name</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    } else {
        <div class="container">
            <p>Please select a blog post to be featured here</p>
        </div>
    }
}


@* Blog listing *@

@{
	
	int pageSize = 6;

    var page = 1; int.TryParse(Request.QueryString["page"], out page);
    var selection = Model.Content.AncestorOrSelf().Descendants("blogPost").OrderBy(x=>x.SortOrder);
    var totalPages = (int)Math.Ceiling((double)selection.Count() / (double)pageSize);

    if (page > totalPages)
    {
        page = totalPages;
    }
    else if (page < 1)
    {
        page = 1;
    }
	

    if (selection.Any())
    {		
        <section class="posts" id="posts">
            <div class="container">
                <div class="row">
                    @foreach (var item in selection.Skip((page - 1) * pageSize).Take(pageSize)){
                        <div class="col col-6 col-md-4">
                            <a href="@item.Url">
                                <div class="card border-0">
                                    <img class="card-img-top " src="@item.GetCropUrl("featuredImage", "blogPostTeaser")" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="card-title">@item.Name</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </section>				
	}
	
    if (totalPages > 1)
    {
        <section>
            <div class="container">
                @if (page <= totalPages)
                {
                    if (page > 1){
                        <a class="btn btn-tertiary btn-width-icon-left" href="?page=@(page-1)">
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-left.svg")))
                            Newer
                        </a>
                    }
                    if (page < totalPages){
                        <a class="btn btn-tertiary btn-width-icon" href="?page=@(page+1)">
                            Older
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                        </a>
                    }
                }
            </div>
        </section>
    }
}	

@functions {
    public static string GenerateSlug(string phrase) 
    { 
        string str = phrase.ToLower(); 

        str = Regex.Replace(str, @"[^a-z0-9\s-]", ""); // invalid chars           
        str = Regex.Replace(str, @"\s+", " ").Trim(); // convert multiple spaces into one space   
        str = str.Substring(0, str.Length <= 45 ? str.Length : 45).Trim(); // cut and trim it   
        str = Regex.Replace(str, @"\s", "-"); // hyphens   

        return str; 
    }
}