﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogPost>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
	Layout = "Master.cshtml";
    var category = Model.Content.GetPropertyValue("blogCategory");
}

@{ 
    Html.RenderPartial("Partials/Content/_genericHeroCarousel"); 
}
<section>
    <div class="container">
        <div class="blog-category">
            Category: <span>@category</span> 
        </div>
    </div>
</section>

<!-- Render out the grid rows, using the kse-grid markup -->

@Html.GetGridHtml(Umbraco.AssignedContentItem, "contentGrid", "kse-grid")

<!-- list of other blogposts in this category -->

<section class="posts">
    <div class="container">
        <div class="row">
            @{
                var relatedPosts = Model.Content.Site().FirstChild("blogPage").Children()
                    .Where(x => x.IsVisible());
            }
            @if(relatedPosts != null){
                <div class="col col-12">
                    <h3>Related blog posts</h3>
                </div>

                foreach(var post in relatedPosts){
                    string blogCategory = post.GetPropertyValue<string>("blogCategory");
                    var featuredImage = post.GetPropertyValue("featuredImage");
                    //Only list other blog posts of this category
                    if( blogCategory.ToLower() == Model.Content.GetPropertyValue<string>("blogCategory").ToLower() ){
                        <div class="col col-6 col-md-4">
                            <a href="@post.Url">
                                <div class="card border-0">
                                    <img class="card-img-top" src="@post.GetCropUrl("featuredImage", "blogPostTeaser")" />
                                    <div class="card-body">
                                        <div class="card-title">
                                            @post.Name
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            } else {
                <p>Sorry, there are no related posts</p>
            }
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <a href ="/blog" class="btn btn-tertiary btn-width-icon-left">
            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-left.svg")))
            View all articles
        </a>
    </div>
</section>
