﻿@inherits UmbracoViewPage
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using Umbraco.Web.Models

@{
    Layout = "Master.cshtml";
    var title = Model.Content.GetPropertyValue("title");
    var links = Model.Content.GetPropertyValue<RelatedLinks>("buttons");
    IPublishedContent image = Model.Content.GetPropertyValue<IPublishedContent>("image");
}

@{
    bool useSlitSlider = Model.Content.GetPropertyValue<bool>("useSlitSlider");

    // Checkbox to choose between slit slider and standard slider
    if( useSlitSlider )
    {
        Html.RenderPartial("Partials/Content/_slitSlider");
    } else {
        Html.RenderPartial("Partials/Content/_genericHeroCarousel");
    }
}


<div class="article-content">
    <section>
        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-8 col-left">
                    <div class="content-title">@title</div>
                    @if (links != null)
                        {
                            <div class="button-area">
                                @foreach( var link in links ){
                                    <a class="btn btn-secondary btn-width-icon" role="button" target="@(link.NewWindow ? "_blank" : null)" href="@link.Link">
                                        @link.Caption
                                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                    </a>
                                }
                            </div>
                        }
                </div>
                <div class="col col-12 col-md-4 col-right">
                    <div class="image-wrapper" >
                        <img alt="Alt text" src="@Model.Content.GetCropUrl("image", "404Crop")" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>