﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Text.RegularExpressions;
@using BackOfficeExtensions

@{
	Layout = null;
    var bodyClass = CurrentPage.DocumentTypeAlias;
    Random rnd = new Random();
    string rndInt = rnd.Next(5000, 10000).ToString();
    string pageUrl = Request.Url.AbsolutePath;
}


<!DOCTYPE html>
<html lang="en">
<head>
    @* Google Tag Manager *@
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WNZNW5');</script>
    @* End Google Tag Manager *@

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    @{
        // data for open graph tags 

        var ogPath = Request.Url.Scheme + "://" + Request.Url.Host + pageUrl;
        string ogDescription = "";
        if (CurrentPage.HasValue("ogDescription") && CurrentPage.GetPropertyValue("ogDescription") != null ) 
        {
            // Use the image from the first alide if it exists. If not, use a default image.
            ogDescription = CurrentPage.GetPropertyValue("ogDescription");
        } else if( CurrentPage.HasValue("blogSummary") && CurrentPage.GetPropertyValue("blogSummary") != null ) {
            ogDescription = Umbraco.Field("blogSummary").ToString();
        } else {
            ogDescription = Umbraco.Field("metaDescription", altFieldAlias: "pageName").ToString();
        }

        var baseUrl = Request.Url.Scheme + "://" + Request.Url.Host;
        string ogImgUrl = baseUrl + "/images/default.png";
        var ogType = "Website";
        // Check if og image has been added 
        if (CurrentPage.HasValue("ogType") && CurrentPage.GetPropertyValue("ogType") != null ) 
        {
            // Use the image from the first alide if it exists. If not, use a default image.
            ogType = CurrentPage.GetPropertyValue("ogType");
        }
                        
        // Check if og image has been added 
        if (CurrentPage.HasValue("ogImage") && CurrentPage.GetPropertyValue("ogImage") != null ) 
        {
            ogImgUrl = baseUrl + CurrentPage.GetPropertyValue("ogImage").Url;
        }

        // Override if it is a blog post
        if (CurrentPage.DocumentTypeAlias == "blogPost" && CurrentPage.GetPropertyValue("featuredImage") != null )
        {
            ogImgUrl = baseUrl + CurrentPage.GetPropertyValue("featuredImage").Src;
        }               
    }

    <meta property="og:site_name" content="Knowsley Safari Experience" />
    <meta property="og:title" content="@(CurrentPage.Name)" />
    <meta property="og:description" content="@ogDescription" />
    <meta property="og:type" content="@ogType" />
    <meta property="og:url" content="@ogPath" />
    <meta property="og:image" content="@(ogImgUrl)" />

    @if(CurrentPage.GetPropertyValue<string>("noIndex") == "True")
    {
        <meta name="robots" content="noindex">
    }
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest.json">
    <link rel="canonical" href="@pageUrl" />


    @{ Html.RenderPartial("SiteLayout/_MetaData"); }

@*Fonts *@
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            typekit: {
                id: 'alo2tja'
            }
        });
    </script>
    <link rel="stylesheet" href="@Url.Content("~/dist/css/style.css")" />
    

     


</head>
<body class="@bodyClass @(GenerateSlug(CurrentPage.Name))-page">
    @* Google Tag Manager (noscript) *@
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WNZNW5"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    @* End Google Tag Manager (noscript) *@

    @* Creates a link to edit current page 
    @Html.UmbracoEditLink(Model.Content, 
        position: EditLinkPosition.BottomLeft, 
        zindex: 1000, 
        linkClassName: "btn btn-primary text-white")
    *@

    @Html.Partial("~/views/partials/header.cshtml")

    <main id="body">
        @RenderBody()
    </main>

    @Html.Partial("~/views/partials/footer.cshtml")
    <script src="@Url.Content("~/dist/js/app.js")"></script>
    
    
    @* Cookie consent popup 
    https://cookieconsent.insites.com/
    *@
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
    "palette": {
        "popup": {
        "background": "#efefef",
        "text": "#404040"
        },
        "button": {
        "background": "#8ec760",
        "text": "#ffffff"
        }
    },
    "theme": "classic",
    "position": "bottom-right",
    "content": {
        "href": "/privacy-policy/"
    }
    })});
    </script>
    
    @if (TempData["UmbracoForms"] != null)
    {
        foreach (var form in (List<Guid>)TempData["UmbracoForms"])
        {
            Html.RenderAction("RenderFormScripts", "UmbracoForms", new { formid = form, theme = "yourTheme" });
        }
    }

</body>
</html>


@functions {
    public static string GenerateSlug(string phrase) 
    { 
        string str = phrase.ToLower(); 

        str = Regex.Replace(str, @"[^a-z0-9\s-]", ""); // invalid chars           
        str = Regex.Replace(str, @"\s+", " ").Trim(); // convert multiple spaces into one space   
        str = str.Substring(0, str.Length <= 45 ? str.Length : 45).Trim(); // cut and trim it   
        str = Regex.Replace(str, @"\s", "-"); // hyphens   

        return str; 
    } 
}