﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.OpeningTimes>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
	Layout = "Master.cshtml";
    var bgColour = Model.Content.HasValue("alertBackgroundColour") ? Model.Content.GetPropertyValue("alertBackgroundColour") : "#fff";
    var alertContent = Model.Content.GetPropertyValue("alertContent");
}

@{ 
    Html.RenderPartial("Partials/Content/_genericHeroCarousel"); 
}

@* Info panel below hero *@

@if(Model.Content.HasValue("alertContent")){
    <section class="info-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="info" style="background-color: #@bgColour" data-aos="zoom-in-down">
                        @alertContent

                    </div>
                </div>
            </div>

        </div>
    </section>
}

@* Render out the grid rows, using the kse-grid markup *@
@Html.GetGridHtml(Umbraco.AssignedContentItem, "contentGrid", "kse-grid")