﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.OurAnimals>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
    var category = Model.Content.GetPropertyValue("blogCategory");
}

@{ 
    bool useSlitSlider = Model.Content.GetPropertyValue<bool>("useSlitSlider");

    // Checkbox to choose between slit slider and standard slider
    if( useSlitSlider )
    {
        Html.RenderPartial("Partials/Content/_slitSlider"); 
    } else {
        Html.RenderPartial("Partials/Content/_genericHeroCarousel"); 
    }
}

@{ 
   var animals = Model.Content.Children.OrderBy(x=>x.SortOrder);
}


@* Animal selector *@
<section class="search-filter">
    <div class="container">
        <div class="select-wrapper icon-arrow-right">
            <select name="" id="" onchange="location = this.value;" class="">
                <option value="/blog/" class="">Select an animal</option>
                @foreach(var animal in animals){
                    <option value="@animal.Url">@animal.Name</option>
                }
            </select>
        </div>
    </div>
</section>

<!-- Render out the grid rows, using the kse-grid markup -->

@Html.GetGridHtml(Umbraco.AssignedContentItem, "contentGrid", "kse-grid")