﻿@inherits UmbracoViewPage
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using ContentModels = Umbraco.Web.PublishedContentModels
@using Umbraco.Web.Models

@{
    Layout = "Master.cshtml";
    var home = Model.Content.Site();
    var blogPage = home.AncestorOrSelf().Descendants("blogPage").First();
}

@{ 
    var searchQuery = Request.QueryString["query"];

    Html.RenderPartial("Partials/Content/_searchHeroCarousel"); 

}

<section class="searchresults">
    <div class="container">
        @if( searchQuery != null ){
            /* Info for paging */
            var results = Umbraco.Search(searchQuery);
            int pageSize = 5;
            var page = 1; int.TryParse(Request.QueryString["page"], out page);
            int totalResults = results.Count();
            int totalPages = (int)Math.Ceiling((double)totalResults /(double)pageSize);
            var previousPageIsEllipsis = false;
            
            /* Bounds checking */
            
            if (page > totalPages)
            {
                page = totalPages;
            }
            else if (page < 1)
            {
                page = 1;
            }


            if ( results.Any() )    
            {   
                foreach (var result in results.Skip( (page - 1) * pageSize).Take(pageSize) ){
                    if( true ){
                            
                        string docType = result.DocumentTypeAlias;

                        var resultCategory = docType == "blogPost" ? "Blog Post" : result.AncestorOrSelf(2).Name;

                        // Get the slide images from the result

                        IEnumerable<IPublishedContent> heroSlides;

                        switch( docType )
                        {
                            // A category page does not have its own hero carousel, it is pulled from the blog page. So if the search result is a category page, use the images from the blog page slider!!
                            case "category":
                                heroSlides = blogPage.GetPropertyValue<IEnumerable<IPublishedContent>>("genericHeroCarousel");
                                break;
                            case "Home":
                                heroSlides = result.GetPropertyValue<IEnumerable<IPublishedContent>>("heroCarousel");
                                break;
                            default:
                                heroSlides = result.GetPropertyValue<IEnumerable<IPublishedContent>>("genericHeroCarousel");
                                break;                   
                        }

                        string imgUrl = "/images/default.png"; 
                        
                        // Check if there is a carousel object and if there are any slides 
                        if (heroSlides != null && heroSlides.Count() > 0) {
                            // Use the image from the first alide if it exists. If not, use a default image.
                            if (heroSlides.First().HasValue("slideImage")) {
                                imgUrl = heroSlides.First().GetPropertyValue<IPublishedContent>("slideImage").Url;
                            } 
                        }
                        
                        <a class="row result-row" href="@result.Url">
                            <div class="col col-12 col-md-8 offset-md-2">
                                <div class="row">
                                    <div class="col col-4 col-md-3">
                                        <div class="image-wrapper">
                                            <img class="" src="@(imgUrl)?width=160" alt="@result.Name">
                                        </div>
                                    </div>
                                    <div class="col col-8 col-md-9">
                                        <h5>@resultCategory</h5>
                                        <h3 class="text-green">@result.Name</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                       
                    }
                }

                // Show pagination only if there is more than one page    
                if( totalPages > 1 ){

                     <ul class="paging d-flex justify-content-center">
                        @if (page > 1)
                        {
                            <li><a href="?query=@searchQuery&page=@(page-1)"><i class="icon-arrow-left text-orange"></i></a></li>
                        }
                        @for (int p = 1; p < totalPages + 1; p++)
                        {
                            var linkClass = (p == page) ? "disabled selected" : "active";
                            // string selected = (p == page) ? "selected" : String.Empty;
                            if (p == page){
                                <li class="@Html.Raw(linkClass)"><a href="?query=@searchQuery&page=@p">@p</a></li>
                                previousPageIsEllipsis = false;
                            }else{
                                if( p == 1
                                    || p == page - 1
                                    || p == page + 1
                                    || p == totalPages - 1
                                    || p == totalPages){    
                                    <li class="@Html.Raw(linkClass)"><a href="?query=@searchQuery&page=@p">@p</a></li>
                                    previousPageIsEllipsis = false;
                                    }else{
                                    if (previousPageIsEllipsis){
                                        continue;
                                    }else{
                                        <li><a href="#">...</a></li>
                                        previousPageIsEllipsis = true;
                                    }
                                }
                            }      
                        }

                        @if (page < totalPages)
                        {
                            <li><a href="?query=@searchQuery&page=@(page+1)"><i class="icon-arrow-right text-orange"></i></a></li>
                        }
                    </ul>
                }
                
            } else {
                <h3 class="text-orange">Sorry! No results found for your search, please try again</h3>
            }
        } else {
            <h3>Please click the search icon to start a search</h3>
        }

        
    </div>
</section>

