﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Species>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "Master.cshtml";
    var category = Model.Content.GetPropertyValue<string>("category");
    var location = Model.Content.GetPropertyValue("locations");
}

@{ 
    Html.RenderPartial("Partials/Content/_genericHeroCarousel"); 
}

<section >
    <div class="container">
        <div class="animal-category-location">
            <p>Category: <span>@category</span></p>
            <p>Location: <span>@location</span></p>
        </div>
    </div>
</section>

<!-- Render out the grid rows, using the kse-grid markup -->
@Html.GetGridHtml(Umbraco.AssignedContentItem, "contentGrid", "kse-grid")

@* Animal slider feature *@

@{
    //var slides = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("slides");
    var home = Model.Content.Site();
    // Get the our-animals page
    var Id = Model.Content.Id;
    var ourAnimals = home.AncestorOrSelf().Descendants("ourAnimals").First();
    var slides = ourAnimals.Children
            // return animals of the same category
            .Where(y=>y.GetPropertyValue<string>("category").ToLower() == category.ToLower() )
            // exclude current animal from results
            .Where(x => x.Id != Id)
            .Take(4);
}

@if (slides != null && slides.Any())
{
    <div class="animal-slider-section">
        <div class="carousel animal-slider" data-slick-options='
                {
                    "slidesToShow": 1,
                    "arrows": true,
                    "dots": true,
                    "centerMode": false,
                    "centerPadding": "",
                    "nextArrow": "#animalNext", 
                    "prevArrow": "#animalPrev",
                    "appendDots": "#animalDots"
                }
            '>
            @foreach ( var slide in slides )
            {
                //var category = slide.GetPropertyValue("category");
                var fact = slide.HasProperty("animalFact") ? slide.GetPropertyValue("animalFact") : "Please add an intersting fact for this animal!";
                var snippet = slide.GetPropertyValue("animalSnippet");
                var bgColor = "red";
                IPublishedContent image = slide.GetPropertyValue<IPublishedContent>("pngImage");
                IPublishedContent bgImage = slide.GetPropertyValue<IPublishedContent>("slideBackgroundImage");

                <div class="slide" style="background-image: url('@(bgImage.Url)?width=2000&quality=50')">
                    <div class="slide-inner-desktop">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="title">
                                        <h2>@slide.GetPropertyValue("category")</h2>
                                        <h3>@slide.Name</h3>
                                    </div>
                                    <div class="content">
                                        <div class="bg @(bgColor)">
                                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/explore-title-bg.svg")))
                                        </div>
                                        <div class="inner">
                                            <p class="snippet">@snippet</p>
                                            <p class="fact">
                                                <span class="bulb">
                                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/lightbulb.svg")))
                                                </span>
                                                @fact
                                            </p>
                                            <a class="btn btn-secondary btn-width-icon" href="@slide.Url">
                                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                                Read more
                                            </a>
                                        </div>
                                    </div>

                                    <div class="img aos-init aos-animate" 
                                        data-aos="fade-left"
                                        data-aos-duration="1000">
                                        <img alt="Alt text" src='@image.GetCropUrl("animalSlider")' />
                                    </div>
                                </div> <!-- .desktop -->
                            </div>
                        </div>
                    </div>
                    <div class="slide-inner-mobile">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="title">
                                        <h2>@slide.GetPropertyValue("category")</h2>
                                        <h3>@slide.Name</h3>
                                    </div>
                                    <div class="content">
                                        <div class="bg @(bgColor)">
                                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/explore-title-bg-mobile.svg")))
                                        </div>
                                        <div class="inner">
                                            <p class="snippet">@snippet</p>
                                            <p class="fact">
                                                <span class="bulb">
                                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/lightbulb.svg")))
                                                </span>
                                                @fact
                                            </p>
                                            <a class="btn btn-secondary btn-width-icon" href="@slide.Url">
                                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                                Read more
                                            </a>
                                        </div>
                                    </div>

                                    <div class="img aos-init aos-animate" 
                                        data-aos="fade-left"
                                        data-aos-duration="1000">
                                        <img alt="Alt text" src='@(image.GetCropUrl("animalSlider"))&quality=50' />
                                    </div>
                                </div> <!-- .desktop -->
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            }
        </div>
        @if( slides.Any() )
        {
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div id="animalPrev" class="slick-prev">
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-left.svg")))
                        </div>
                        <div id="animalDots"></div>
                        <div id="animalNext" class="slick-next">
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

<section class="view-all-animals">
    <div class="container">
        <a class="btn btn-secondary btn-block btn-width-icon" href="/explore/our-animals">
            View all animals
            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
        </a>
    </div>
</section>

