﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TicketsAndPrices>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

@{ 
    Html.RenderPartial("Partials/Content/_genericHeroCarousel");

    var offer = Model.Content.GetPropertyValue("currentOffer");
}

<!-- Info on offers, ect -->
@if(Model.Content.HasValue("currentOffer"))
{
    <section class="offer-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="offer aos-init aos-animate" style=" data-aos="zoom-in-down">
                        <p>@offer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<!-- Render out the grid rows, using the kse-grid markup -->
@Html.GetGridHtml(Umbraco.AssignedContentItem, "contentGrid", "kse-grid")