﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    
    umbraco.library.ChangeContentType("text/xml");
}

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    @foreach (var root in Umbraco.TypedContentAtRoot())
    {
        <url>
            <loc>@root.UrlAbsolute()</loc>
            <lastmod>@root.UpdateDate.ToString("yyyy-MM-ddTHH:mm:00")+00:00</lastmod>
            @if(root.HasValue("updateFrequency"))
            {
                <changefreq>@root.GetPropertyValue("updateFrequency")</changefreq>
            }
        </url>

        foreach (var content in root.Descendants()
            .Where(c => c.GetPropertyValue<string>("noIndex") != "True"))
        {
            <url>
                <loc>@content.UrlAbsolute()</loc>
                <lastmod>@content.UpdateDate.ToString("yyyy-MM-ddTHH:mm:00")+00:00</lastmod>
                @if (content.HasValue("updateFrequency"))
                {
                    <changefreq>@content.GetPropertyValue("updateFrequency")</changefreq>
                }
            </url>
        }
    }
</urlset>