﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	var items = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("accordionItems");
    Random rnd = new Random();
    string rndInt = rnd.Next(5000, 10000).ToString();
    
}

<div class="accordion mt-5 mt-md-0" id="accordion_@(rndInt)">
    @{
        var i = 0;
    }
    @foreach( var item in items ){
        i ++;
        <div class="card">
            <div class="card-header p-0" id="heading@(i)">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse_@(i)_@(rndInt)" aria-expanded="true" aria-controls="collapse@(i)">
                    @Umbraco.Field(item, "accordionTitle")
                    <i class="icon-arrow-right text-orange" data-toggle="collapse" data-target="#plan-your-visit-sub" aria-expanded="false"></i>
                </button>
            </div>

            <div id="collapse_@(i)_@(rndInt)" class="collapse" aria-labelledby="heading@(i)" data-parent="#accordion_@(rndInt)">
            <div class="card-body">
                @Umbraco.Field(item, "accordionContent")
            </div>
            </div>
        </div>
    }
</div>
