﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models

@{
	var slides = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("slides");
}

@if (slides != null && slides.Any())
{
    <div class="animal-slider-section">
        
            <div class="carousel animal-slider" data-slick-options='
                    {
                        "slidesToShow": 1,
                        "arrows": true,
                        "dots": true,
                        "centerMode": false,
                        "centerPadding": "",
                        "fade": true,
                        "nextArrow": "#animalNext", 
                        "prevArrow": "#animalPrev",
                        "appendDots": "#animalDots"
                    }
                '>
                @foreach ( var slide in slides )
                {
                    var item = slide.GetPropertyValue<IPublishedContent>("picker");
                    var category = item.GetPropertyValue("category");
                    var fact = item.GetPropertyValue("animalFact");
                    var snippet = item.GetPropertyValue("animalSnippet");
                    var bgColor = "red";
                    IPublishedContent image = item.GetPropertyValue<IPublishedContent>("pngImage");
                    IPublishedContent bgImage = item.GetPropertyValue<IPublishedContent>("slideBackgroundImage");

                    <div class="slide" style="background-image: url('@bgImage.Url?width=2000&quality=50')">
                        <div class="slide-inner-desktop">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="title">
                                            <h2>@category</h2>
                                            <h3>@item.Name</h3>
                                        </div>
                                        <div class="content">
                                            <div class="bg @(bgColor)">
                                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/explore-title-bg.svg")))
                                            </div>
                                            <div class="inner">
                                                <p class="snippet">@snippet</p>
                                                <p class="fact"><span class="bulb">@Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/lightbulb.svg")))</span>@fact</p>
                                                <a class="btn btn-secondary btn-width-icon" href="@item.Url">
                                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                                    Read more
                                                </a>
                                            </div>
                                        </div>

                                        <div class="img aos-init aos-animate" data-aos="fade-left">
                                            <img alt="Alt text" src='@image.GetCropUrl("animalSlider")' />
                                        </div>
                                    </div> <!-- .desktop -->
                                </div>
                            </div>
                        </div>


                        <div class="slide-inner-mobile">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="title">
                                            <h2>@category</h2>
                                            <h3>@item.Name</h3>
                                        </div>
                                        <div class="content">
                                            <div class="bg @(bgColor)">
                                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/explore-title-bg-mobile.svg")))
                                            </div>
                                            <div class="inner">
                                                <p class="snippet">@snippet</p>
                                                <p class="fact"><span class="bulb">@Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/lightbulb.svg")))</span>@fact</p>
                                                <a class="btn btn-secondary btn-width-icon" href="@item.Url">
                                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                                    Read more
                                                </a>
                                            </div>
                                        </div>

                                        <div class="img aos-init aos-animate" data-aos="fade-left">
                                            <img alt="Alt text" src='@image.GetCropUrl("animalSlider")' />
                                        </div>
                                    </div> <!-- .desktop -->
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                }
            </div>
            <div class="container nav-container">
                <div class="row">
                    <div class="col">
                        <div id="animalPrev" class="slick-prev">
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-left.svg")))
                        </div>
                        <div id="animalDots"></div>
                        <div id="animalNext" class="slick-next">
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
}
