﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models

@{

	var animals = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("animal");
	var title = Model.GetPropertyValue("title");

    <div class="sound-clip">

    @foreach ( var animal in animals )
    {

        var id = animals.First().Id;
        var page = Umbraco.Content(id);
        var sounds = page.GetPropertyValue("animalSoundFiles");
        if( sounds != null ){
            <div class="container">
                <div class="title-wrap">
                    <h3>@title</h3>
                </div>
                @foreach (var sound in sounds)
                {
                    Random rnd = new Random();
                    // reset rndInt
                    string rndInt;
                    // reassign rndInt
                    rndInt = rnd.Next(5000, 10000).ToString();

                    <div class="player" id="player@(rndInt)">
                        
                        <audio controls crossorigin muted class="player__audio listener">
                            <source src="@sound.Url" type="audio/mpeg">
                            Your browser does not support the audio tag.
                        </audio>

                        <div class="player__controls">
                            <button class="player__button toggle" title="Toggle Play">►</button>
                            <div>
                                <span class="current__time">0:00</span>&nbsp;/&nbsp;
                                <span class="total__time">5:00</span>
                            </div>
                            <div class="progress">
                                <div class="progress__filled"></div>
                            </div>
                            <button class="player__button mute" title="Toggle Sound"><img src="/images/icons/volume-off.svg" alt="off"></button>
                        </div>
                    </div>
                }
                <p>@page.sounds</p>
            </div>

        } else {
            <p>There are no sounds associated with this animal</p>
        }

    }

    </div>
}
