﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@{
var teasers = Model.GetPropertyValue
<IEnumerable
<IPublishedContent>>("teasers");
    }

    @if (teasers != null && teasers.Any())
        {
        <div class="animal-call-to-action-area">
            <div class="tree" data-aos="fade-left"></div>
            <div class="container">
                <div class="row">
                    @{int i = 0;}
                    @foreach ( var teaser in teasers )
                        {
                        string title = teaser.GetPropertyValue
                        <string>("title");
                            var link = teaser.GetPropertyValue("teaserLink");
                            var content = teaser.GetPropertyValue("teaserContent");

                            <div class="col col-12 col-lg-3 teaser-col">
                                <a href="@link" class="teaser" data-aos-offset="150" data-aos="@( (i % 2) == 0 ? "fade-up" : "fade-down" )">
                                <div class="teaser-inner">
                                    <h3 class="teaser-title ta-r">@title</h3>
                                    <div class="teaser-content">
                                    <span class="teaser-text">
                                    <span class="text-primary">Including:</span><br/>
                                    @content
                                        </span>
                                        <div class="teaser-arrow">
                                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </div>
                            i++;
                            }
                </div>
            </div>
        </div>

        } else {
        <p>Please add some content to this component</p>
        }