﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Core.PropertyEditors.ValueConverters

@{
	var buttons = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("buttons");
}

<div class="container">
    <div class="row">
        <div class="col-12 py-4">
            @if( buttons != null ){
            <div class="button-area text-md-center">
                @foreach( var button in buttons ){

                var caption = button.GetPropertyValue("buttonCaption");
                var url = button.GetPropertyValue("buttonUrl");
                var colour = button.GetPropertyValue("buttonColour") != null ? button.GetPropertyValue<ColorPickerValueConverter.PickedColor>("buttonColour").Label.ToLower() : "primary";

                    <a class="btn btn-width-icon btn-@( colour )" href="@(url)">
                        @caption
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                    </a>
                    }
            </div>
            } else {
                <p>Please add some buttons to this component</p>
            }
        </div>
    </div>

</div>