﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@{
	var teasers = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("teasers");
}

@if (teasers != null && teasers.Any())
{
    <div class="call-to-action-area">
        <div class="tree" data-aos="fade-left"></div>
        <div class="container">
            <div class="row">
                @{int i = 0;}
                @foreach ( var teaser in teasers )
                {
                    string title = teaser.GetPropertyValue<string>("title");
                    var link = teaser.GetPropertyValue("teaserLink");
                    var content = teaser.GetPropertyValue("teaserContent");
                    
                    <div class="col @( i==6 ? "col-12 col-md-6" : "col-6" ) col-xl-3 teaser-col">
                        <a href="@link" class="teaser" data-aos="@( (i % 2) == 0 ? "fade-up" : "fade-down" )">
                            <div class="teaser-inner">
                                <div class="teaser-title ta-r">@title</div>
                                <div class="teaser-content">
                                    @content
                                    <div class="teaser-arrow">
                                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    i++;
                }

                @* Far right teaser *@
                <div class="col col-12 col-md-6 col-xl-3 teaser-col">
                    <div class="teaser green" data-aos="@( (i % 2) == 0 ? "fade-up" : "fade-down" )">
                        <div class="teaser-inner">
                            <h3 class="teaser-title ta-r"><a href="/plan-your-visit/tickets-and-prices">Tickets and Prices</a></h3>
                            <div class="teaser-content">
                                <div class="teaser-arrow">
                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
} else {
    <p>Please add some content to this component</p>
}