﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@{
	var title = Model.GetPropertyValue("sectionTitle");

}
<div class="contact-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="contact-summary">
					<h3 class="text-primary">@title</h3>
					<p>
						We love hearing from our guests so if you can’t find the answer to your question on our site then please fill in the form and we’ll be in touch as soon as possible!<br>
						<strong>You can also call us:</strong>
					</p>
				</div>
			</div>
			<div class="col-12 pt-3 pb-4">
				<a href="tel:01514309009" class="btn btn-blue btn-width-icon">0151 430 9009 <i class="icon-phone float-right"></i></a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<hr class="dotted d-block d-lg-none">
			</div>
		</div>
	</div>

	<div class="container pt-4">
		<div class="row">
			<div class="col-12 col-lg-6 pb-5">

               

				<form action="#" class="contact-form">
					<h3 class="text-blue">
						GET IN TOUCH...
					</h3>
					<div class="form-fields">
						<div class="form-group">
							<input type="text" class="form-control" name="first-name" id="first-name" placeholder="First Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="email-address" id="email-address" placeholder="Email Address">
							<div class="error">Yoohoo - this doesnt look like a valid email address</div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="telephone-number" id="telephone-number" placeholder="Telephone Number">
						</div>
						<div class="form-group">
							<textarea name="your-enquiry" id="your-enquiry" class="form-control" rows="5"  placeholder="Your Enquiry"></textarea>
						</div>
						<div class="form-group">
							<input type="checkbox" class="checkbox" name="gdpr" id="gdpr">
							<label for="gdpr">I agree to Knowsley Safari’s Terms and Conditions</label>
						</div>
						<div class="form-group">
							<button class="btn btn-blue btn-width-icon btn-block">SEND ENQUIRY<i class="icon-arrow-right"></i></button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-12 col-lg-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9507.73227349499!2d-2.812588!3d53.433905!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4d15c83cf84abee0!2sKnowsley+Safari!5e0!3m2!1sen!2suk!4v1552302785847" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				<div class="py-3">
					<a href="https://maps.google.com/maps?ll=53.433905,-2.812588&z=14&t=m&hl=en-US&gl=GB&mapclient=embed&cid=5554565879620615904" target="_blank" class="btn btn-secondary btn-width-icon">View on Google Maps<i class="icon-map"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>



