﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models

@{
    var slides = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("slides");
    var sliderTitle = Model.GetPropertyValue("title");
    bool hideCallToAction = Model.GetPropertyValue<bool>("hideCallToAction");
}

    <div class="displays-talks-slider-wrapper">
        @if (slides != null && slides.Any())
        {
            
            <div class="slider-title ta-c">
                <div class="container">
                    @sliderTitle
                </div>
            </div>

            <div class="carousel displays-talks-slider" data-slick-options='
                    {
                        "infinite": true,
                        "slidesToShow": 1,
                        "arrows": true,
                        "dots": true,
                        "centerMode": true,
                        "centerPadding": "20px",
                        "mobileFirst": true,
                        "nextArrow": "#datNext",
                        "prevArrow": "#datPrev",
                        "appendDots": "#datDots",
                        "responsive": [
                            {
                                "breakpoint": 768,
                                "settings": {
                                    "slidesToShow": 3,
                                    "centerPadding": "40px",
                                    "infinite": true,
                                    "nextArrow": "#datNext",
                                    "prevArrow": "#datPrev",
                                    "appendDots": "#datDots",
                                    "variableWidth": true
                                }
                            }
                        ]
                    }
                '>
                @foreach ( var slide in slides )
                {
                // return item id
                var item = slide.GetPropertyValue<IPublishedContent>("slideContentPicker");
                    var itemType = item.DocumentTypeAlias;
                    if( itemType == "display" ){
                        var displaySummary = item.GetPropertyValue("displaySummary");
                        var displayTimes = item.GetPropertyValue("displayTimes");

                        <div class="slide aos-init" data-aos="fade-up">
                            <div class="card">
                                <div class="category" style="background-image: url(/images/tag-display-bg.png);">
                                    Display
                                </div>
                                <img class="card-img-top" src="@item.GetCropUrl( "displayFeaturedImage", "displayTeaser" )" alt="Card image cap">
                                <div class="card-body">
                                    <div class="card-title text-secondary">
                                        @( item.Name.Length > 30 ? @TruncateAtWord( item.Name, 30) + "..." : @item.Name )
                                    </div>
                                    <div class="times">
                                        @displayTimes
                                    </div>
                                    <div class="card-text">
                                        @displaySummary
                                    </div>
                                    @if( !hideCallToAction )
                                    {
                                    <a class="btn btn-block btn-width-icon btn-secondary" href="/whats-on/animal-displays">
                                        Find out more
                                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                    </a>
                                    }
                                </div>
                            </div>
                        </div>

                    } else if ( itemType == "talk" ){

                        var talkSummary = item.GetPropertyValue("talkSummary");
                        var talkTimes = item.GetPropertyValue("talkTimes");
                        <div class="slide aos-init" data-aos="fade-up">
                            <div class="card">
                                <div class="category" style="background-image: url(/images/tag-talk-bg.png);">
                                    Talk
                                </div>
                                <img class="card-img-top" src="@item.GetCropUrl("talkFeaturedImage", "displayTeaser" )" alt="Card image cap">
                                <div class="card-body">
                                    <div class="card-title text-secondary">
                                        @( item.Name.Length > 30 ? @TruncateAtWord( item.Name, 30) + "..." : @item.Name )
                                    </div>
                                    <div class="times">
                                        @talkTimes
                                    </div>
                                    <div class="card-text">
                                        @talkSummary
                                    </div>
                                    @if( !hideCallToAction )
                                    {
                                        <a class="btn btn-block btn-width-icon btn-secondary" href="/whats-on/talks">
                                            Find out more
                                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>

                    } else {
                        <p>The item you have selected is not an event or blogpost, please try again</p>
                    }
                    }
            </div>
            <div class="dat-navigation">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-2 col-md text-right">
                            <div id="datPrev" class="slick-prev float-right">
                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-left.svg")))
                            </div>
                        </div>
                        <div class="col-8 col-md">
                            <div id="datDots"></div>
                        </div>
                        <div class="col-2 col-md">
                            <div id="datNext" class="slick-next float-left">
                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

@functions {
    public static string TruncateAtWord(string value, int length) 
    {
        if (value == null || value.Length < length || value.IndexOf(" ", length) == -1)
            return value;

        return value.Substring(0, value.IndexOf(" ", length));
    }
}