﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@{
	var slides = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("slides");
	var sliderTitle = Model.GetPropertyValue("title");
    bool hideCallToAction = Model.GetPropertyValue<bool>("hideCallToAction");
}

@if (slides != null && slides.Any())
{
    <div class="events-news-slider-wrapper">

        <div class="slider-title text-center">
            <div class="container">
                <h2>@sliderTitle</h2>
            </div>
        </div>

        <div class="carousel events-news-slider" data-slick-options='
                {
                    "slidesToShow": 1,
                    "arrows": true,
                    "dots": true,
                    "centerMode": true,
                    "centerPadding": "20px",
                    "mobileFirst": true,
                    "nextArrow": "#naeNext",
                    "prevArrow": "#naePrev",
                    "appendDots": "#naeDots",
                    "swipeToSlide": true,
                    "responsive": [
                        {
                            "breakpoint": 992,
                            "settings": {
                                "slidesToShow": 3,
                                "centerPadding": "40px",
                                "infinite": true,
                                "nextArrow": "#naeNext",
                                "prevArrow": "#naePrev",
                                "appendDots": "#naeDots",
                                "variableWidth": true
                            }
                        }
                    ]
                }
            '>
            @foreach ( var slide in slides )
            {
                // return item id
                var item = slide.GetPropertyValue<IPublishedContent>("slideContentPicker");
                var itemType = item.DocumentTypeAlias;
                if( itemType == "blogPost" ){
                    string blogCategory = item.GetPropertyValue<string>("blogCategory");
                    var blogSummary = item.GetPropertyValue("blogSummary");
                    var featuredImage = item.GetPropertyValue("featuredImage");
                    <div class="slide news aos-init" data-aos="fade-up">
                        <div class="card">
                            <div class="card-img-top" style="background-image: url(@item.GetCropUrl("featuredImage", "blogPostTeaser"))"></div>
                            <div class="card-body">
                                <div class="category">
                                    News
                                </div>
                                <div class="card-title text-secondary">
                                    @( item.Name.Length > 30 ? @TruncateAtWord( item.Name, 30) + "..." : @item.Name )
                                </div>
                                <div class="card-text">
                                    @blogSummary
                                </div>
                                @if( !hideCallToAction )
                                {
                                    <a class="btn btn-secondary btn-width-icon" href="@item.Url">
                                        Read more
                                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                    </a>
                                }
                            </div>
                        </div>
                    </div>

                }else if ( itemType == "event" ){

                    var eventFeaturedImage = item.GetPropertyValue("eventFeaturedImage");
                    var eventCategory = item.GetPropertyValue("eventCategory");
                    DateTime eventDate = item.GetPropertyValue<DateTime>("eventDate");
                    DateTime eventEndDate = item.GetPropertyValue<DateTime>("eventEndDate");

                    var formattedDate = umbraco.library.FormatDateTime(eventDate.ToString(), "dd MMM yyyy");
                    var formattedEndDate = umbraco.library.FormatDateTime(eventEndDate.ToString(), "dd MMM yyyy");
                    string eventSummary = item.GetPropertyValue<string>("eventSummary");
                    var eventTicketLinks = item.GetPropertyValue<RelatedLinks>("eventTicketLink");
                    var today = DateTime.Today;
                    
                    if( item.HasValue("eventEndDate") && DateTime.Today < eventEndDate || !item.HasValue("eventEndDate") && today < eventDate ){
                        <div class="slide event aos-init" data-aos="fade-up" >
                            <div class="card">
                                <div class="row h-100">
                                    <div class="col-12 col-sm-6 overflow-hidden position-relative">
                                        <div class="event-image"  style="background-image:url(@item.GetCropUrl("eventFeaturedImage", "featuredImage"))"></div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="card-body">
                                            <div class="category">
                                                @eventCategory
                                            </div>
                                            <div class="card-title text-secondary">
                                                @( item.Name.Length > 30 ? @TruncateAtWord( item.Name, 30) + "..." : @item.Name )
                                            </div>
                                            <div class="date">
                                                @formattedDate
                                                @if( item.HasValue("eventEndDate") ){
                                                    <span> to </span>@formattedEndDate
                                                }
                                            </div>
                                            <div class="card-text">
                                                @( eventSummary.Length > 180 ? @eventSummary.Substring(0, 180) + "..." : @eventSummary )
                            
                                            </div>

                                            @if( !hideCallToAction )
                                            {
                                                <a class="btn btn-secondary btn-width-icon" href="@item.Url">
                                                    More
                                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                                </a>
                                            }

                                            @if( eventTicketLinks != null )
                                            {
                                            <a class="btn btn-primary btn-width-icon" href="@(eventTicketLinks.First().Link)">
                                                Tickets
                                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/ticket.svg")))
                                            </a>
                                            }

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div> 
                    }

                } else {
                    <p>The item you have selected is not an event or blogpost, please try again</p>
                }
            }
        </div>
        <div class="nae-navigation">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-2 col-md text-right">
                        <div id="naePrev" class="slick-prev float-right">
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-left.svg")))
                        </div>
                    </div>
                    <div class="col-8 col-md">
                        <div id="naeDots"></div>
                    </div>
                    <div class="col-2 col-md">
                        <div id="naeNext" class="slick-next float-left">
                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}


@functions {
    public static string TruncateAtWord(string value, int length) 
    {
        if (value == null || value.Length < length || value.IndexOf(" ", length) == -1)
            return value;

        return value.Substring(0, value.IndexOf(" ", length));
    }
}