﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models

@{
	var slides = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("slides");
    var noSlides = slides.Count();
    Random rnd = new Random();
    string rndInt = rnd.Next(5000, 10000).ToString();
}

@if (slides != null && slides.Any())
{
    <div class="explore-slider-section">
        <div class="carousel explore-slider" data-slick-options='
                {
                    "slidesToShow": 1,
                    "arrows": true,
                    "dots": true,
                    "centerMode": false,
                    "centerPadding": "",
                    "fade": true,
                    "nextArrow": "#exploreNext@(rndInt)", 
                    "prevArrow": "#explorePrev@(rndInt)",
                    "appendDots": "#exploreDots@(rndInt)"
                }
            '>
            @foreach ( var slide in slides )
            {
                var slideType = slide.GetPropertyValue("slideType");
                var title = slide.GetPropertyValue("slideTitle");
                string subtitle = slide.HasValue("slideSubtitle") ? slide.GetPropertyValue<string>("slideSubtitle") : "";
                IPublishedContent image = slide.GetPropertyValue<IPublishedContent>("slideImage");
                var imageAlt = slide.GetPropertyValue("slideAlt") != null ? slide.GetPropertyValue("slideAlt") : title;
                string bgColor  = slide.GetPropertyValue<string>("slideBackgroundColour");
                var links = slide.GetPropertyValue<RelatedLinks>("slideLinks");
                var link = links != null ? links.FirstOrDefault() : null;
                
                <div class="slide">
                    <a role="link" target="@(link.NewWindow ? "_blank" : null)" href="@link.Link">
                        <div class="slide-inner-desktop">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="type"><h2>@slideType</h2></div>
                                        <div class="title">
                                            <div class="bg @(bgColor)">
                                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/explore-title-bg.svg")))
                                            </div>
                                            <h3>@title</h3>
                                            <p class="subtitle">@subtitle</p>
                                        </div>

                                        <div class="img">
                                            <img alt="@imageAlt" src='@image.GetCropUrl("exploreSlider")' />
                                        </div>
                                    </div> <!-- .desktop -->
                                </div>
                            </div>
                        </div>
                        
                        <div class="slide-inner-mobile">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="img">
                                            <img alt="@imageAlt" src='@image.GetCropUrl("exploreSlider")' />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="bg @(bgColor)">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <h2>@slideType</h2>
                                            <h3>@title</h3>
                                            <p class="subtitle @( noSlides < 2 ? "pb-0" : " " )"  >@subtitle</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .mobile -->
                    </a>
                </div>
            }
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="explorePrev@(rndInt)" class="slick-prev">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-left.svg")))
                    </div>
                    <div id="exploreDots@(rndInt)"></div>
                    <div id="exploreNext@(rndInt)" class="slick-next">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                    </div>
                </div>
            </div>
        </div>

        <div class="mountains"></div>
    </div>
}
