﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	var teasers = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("teasers");
	string title = Model.GetPropertyValue<string>("title");
}
<div class="explore-teasers-wrap">
    <div class="explore-teasers">
        <div class="giraffe" data-aos="fade-right"></div>
        <div class="container">

            @if( teasers != null ){
                <div class="title-wrap">
                    <h2>@title</h2>
                </div>
                <div class="row teasers">
                    @{int i = 1;}
                    @foreach( var teaser in teasers ){
                        
                        IPublishedContent image = teaser.GetPropertyValue<IPublishedContent>("teaserImage");
                        string alt  = teaser.GetPropertyValue<string>("teaserAltText");
                        string bgColor  = teaser.GetPropertyValue<string>("teaserBackgroundColour");
                        string teaserTitle  = teaser.GetPropertyValue<string>("title");
                        string teaserSubtitle  = teaser.GetPropertyValue<string>("subtitle");
                        IPublishedContent link = teaser.GetPropertyValue<IPublishedContent>("teaserLink");
                        
                        <div class="col col-12 col-lg-4">
                            <a href="@link.Url" class="teaser" data-aos="@( (i % 2) == 0 ? "fade-up" : "fade-down" )">
                                <div class="teaser-image" style="background-image: url('@(image.Url)?anchor=center&mode=crop&width=391&height=366');" ></div>
                                <div class="teaser-inner">
                                    <div class="teaser-content">
                                        <div class="title-shape x@(i) @(bgColor)">                                            
                                            <h3>@teaserTitle</h3>
                                            <h4>@teaserSubtitle</h4>
                                        </div>
                                        <div class="teaser-arrow">
                                            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        i++;
                    }
                </div>
            } else {
                <p>Please add some content to this section</p>
            }

        </div>
    </div>
</div>

