﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models

@{
var title = Model.GetPropertyValue("title");
var subtitle = Model.GetPropertyValue("subtitle");
}

<div class="newsletter-signup">
    <div class="bird" data-aos="fade-left"></div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-9">                
                <h2>@title</h2>
                <h3>@subtitle</h3>
            </div>
        </div>

        <div id="mc_embed_signup" class="gform_wrapper">
            <form action="https://knowsleysafariexperience.us8.list-manage.com/subscribe/post?u=5d28d53d72bad4fff6abbce20&amp;id=a6cfb5f574" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate" _lpchecked="1">
                <div id="mc_embed_signup_scroll" class="gform_fields">
                    <div class="row justify-content-md-center">
                        <div class="mc-field-group gfield col-xs-12 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="mce-FNAME">Your first name</label>
                                <input type="text" value="" name="FNAME" class="required name valid form-control"" id="mce-FNAME" aria-required="true" aria-invalid="false">
                            </div>
                        </div>

                        <div class="mc-field-group gfield col-xs-12 col col-md-4 col-lg-3">
                            <div class="form-group">
                                <label for="mce-EMAIL">Your email address</label>
                                <input type="email" value="" name="EMAIL" class="required email valid form-control" id="mce-EMAIL" aria-required="true" aria-invalid="false">
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="form-group">
                                <label class="d-none d-md-block">&nbsp;</label>
                                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-blue btn-block btn-width-icon">
                                    Sign up to newsletter
                                    @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div id="mce-responses" class="clear col-xs-12 col-md-4 col-lg-9">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>

                        <div class="mc-field-group gfield d-none">
                            <label for="mce-GDPR">
                                <input type="checkbox" checked value="YES" name="GDPR" class="required valid" id="mce-GDPR" aria-required="true">
                                By ticking this consent I agree to the <a href="/privacy-policy/">Privacy Policy</a>
                                <span class="asterisk">*</span>
                            </label>
                        </div>

                    </div>

                    
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_5d28d53d72bad4fff6abbce20_a6cfb5f574" tabindex="-1" value="">
                    </div>


                </div>
            </form>
        </div> <!-- #mc_embed_signup -->

    </div>
</div>

@* 
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'GDPR';
        ftypes[3] = 'text';

        $('#mc-embedded-subscribe-form').on('submit', function (e) {
            //ga('send', 'event', 'newsletter', 'Newsletter Signup');
            setTimeout(function() {
                if ($('#mce-success-response').is(':visible')) {
                    $(window).raptorize({
                        enterOn: 'timer', //timer, konami-code, click
                        delayTime: 0 //time before raptor attacks on timer mode
                    });
                }  
            }, 500);                      
        });
    });
</script> 

*@