﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	var quotes = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("quotes");
}
<div class="quotes-wrap">
    <div class="quotes">
        <div class="carousel quotes-slider" data-slick-options='
                {
                    "autoplay": false,
                    "autoplaySpeed": 3000,
                    "arrows": false,
                    "dots": false,
                    "fade": true
                }
            '>
            @foreach(var quote in quotes)
            {
                // Do your thang...
                <div class="quote">
                    <div class="rot">
                        @Umbraco.Field(quote, "quote")
                    </div>
                </div>
            }
        </div>
    </div>
</div>
