﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
var images = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("images");
    }


    @if( images != null){
    <div class="carousel simple-image-slider" data-slick-options='
            {   
                "slidesToShow": 1,
                "infinite": true,
                "autoplay": false,
                "centerMode": true,
                "centerPadding": "45px",
                "arrows": true,
                "dots": true,
                "nextArrow": "#sisNext",
                "prevArrow": "#sisPrev",
                "appendDots": "#sisDots",
                "mobileFirst": true,
                "responsive": [{
                    "breakpoint": "1200",
                    "settings": {
                        "centerMode": true,
                        "centerPadding": "400px"
                    }
                }]
            }
        '>
        @foreach(var image in images)
        {
        // Do your thang...
        <div class="slide">
            <img class="content" src="@(image.Url)?width=1000&quality=50" alt="@(image.Name)">
        </div>
        }

    </div>
    <div class="sis-navigation">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col col-2 text-right">
                    <div id="sisPrev" class="slick-prev float-left">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-left.svg")))
                    </div>
                </div>
                <div class="col col-8">
                    <div id="sisDots"></div>
                </div>
                <div class="col col-2">
                    <div id="sisNext" class="slick-next float-right">
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                    </div>
                </div>
            </div>
        </div>
    </div>
    } else {
    <p>Please add some images to the carousel</p>
    }