﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@{
	var teasers = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("teasers");
    var links = Model.GetPropertyValue<RelatedLinks>("teaserRight");
}

@if (teasers != null && teasers.Any())
{
    <div class="subhero">
        <div class="tree" data-aos="fade-left"></div>
        <div class="container">
            <div class="row justify-content-center">
                @{int i = 0;}
                @foreach ( var teaser in teasers )
                {
                    string title = teaser.GetPropertyValue<string>("title");
                    IPublishedContent image = teaser.GetPropertyValue<IPublishedContent>("teaserImage");
                    var imageAlt = teaser.GetPropertyValue("teaserAltText") != null ? teaser.GetPropertyValue("teaserAltText") : title;
                    var link = teaser.GetPropertyValue("teaserLink");
                    
                    <div class="col col-12 col-md-6 col-xl-3 teaser-col">
                        <a href="@link" class="teaser" data-aos="@( (i % 2) == 0 ? "fade-up" : "fade-down" )">
                            <div class="teaser-image" style="background-image: url('');" >
                                <img class="teaser-img" src="@(image.GetCropUrl("teaserSquare"))" />
                            </div>
                            <div class="teaser-inner">
                                <h3 class="teaser-title ta-r">@title</h3>
                                <div class="teaser-content">
                                    <div class="teaser-arrow">
                                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    i++;
                }

                <!-- Far right teaser -->
                                    
                @if( links != null ){
                    <div class="col col-12 col-md-6 col-xl-3 teaser-col">
                        <div class="teaser green" data-aos="@( (i % 2) == 0 ? "fade-up" : "fade-down" )">
                            <div class="teaser-inner">
                                <h3 class="teaser-title ta-r"><a href="/plan-your-visit/tickets-and-prices">Tickets and Prices</a></h3>
                                <div class="teaser-content">
                                    <ul class="list-unstyled">
                                    @{
                                        foreach (var link in links) {
                                            <li><a href="@link.Link" target="@(link.NewWindow ? "_blank" : null)">@link.Caption</a></li>
                                        }
                                    }
                                    </ul>
                                    <div class="teaser-arrow">
                                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
   
} else {
    <p>Please add some content to this component</p>
}