﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models

@{
	string videoUrl = Model.GetPropertyValue<IPublishedContent>("videoPicker").Url;
	string videoCaption = Model.GetPropertyValue<string>("videoCaption");
}

    <div class="container">
        @if( Model.HasValue("videoPicker") ){
            <div class="video-wrapper">
                <video muted>
                    <source src="@videoUrl" type="video/mp4">
                    <!-- <source src="movie.ogg" type="video/ogg"> -->
                    Your browser does not support the video tag.
                </video>
                <div class="toggle">
                    <img src="/images/icons/video-play.png" alt="off">
                </div>
                <div class="mute" title="Toggle Sound">
                    <img src="/images/icons/volume-off.svg" alt="off">
                </div>
            </div>
            if( Model.HasValue("videoCaption") ){
                <div class="video-caption">
                    @videoCaption
                </div>
            }
        } else {
            <p>Please upload a video</p>
        }
    </div>


