@inherits WebViewPage<FormViewModel>
@using Umbraco.Forms.Core
@using Umbraco.Forms.Mvc
@using Umbraco.Forms.Mvc.Models
@using Umbraco.Forms.Mvc.BusinessLogic


@{ 
    // here we load in the needed default assets for the form
    // this means that 3rd party themes can override these by implementing their own form.cshtml file
    //it will simply hook into standard way forms load assets
    if (Model.DisableDefaultStylesheet == false)
    {
        Html.SetFormThemeCssFile(Model, "~/App_Plugins/UmbracoForms/Assets/Themes/Default/style.css");
    }
}


<div class="umbraco-forms-page">

    @if (string.IsNullOrEmpty(Model.CurrentPage.Caption) == false)
    {
        <h3 class="umbraco-forms-caption text-blue">@Model.CurrentPage.Caption</h3>
    }

    @if (Model.ShowValidationSummary)
    {
        @Html.ValidationSummary(false)
    }


    @foreach (FieldsetViewModel fs in Model.CurrentPage.Fieldsets)
    {
        <fieldset class="umbraco-forms-fieldset" id="@fs.Id">

            @if (string.IsNullOrEmpty(fs.Caption) == false)
            {
                <legend>@fs.Caption</legend>
            }

            <div class="row">

                @foreach (var c in fs.Containers)
                {
                    <div class="form-fields umbraco-forms-container @("col-md-" + c.Width)">

                        @foreach (FieldViewModel f in c.Fields)
                        {
                            bool hidden = f.HasCondition && f.ConditionActionType == FieldConditionActionType.Show;

                            <div class="form-group @Html.GetFormFieldWrapperClass(f.FieldTypeName) @f.CssClass" @{ if (hidden) { <text> style="display: none" </text>   } }>

                                

                                @if (!string.IsNullOrEmpty(f.ToolTip))
                                {
                                    <span class="umbraco-forms-tooltip help-block">@f.ToolTip</span>
                                }

                                <div class="umbraco-forms-field-wrapper">

                                    @if( f.FieldTypeName == "Checkbox" ){
                                        // Put label after input if it's a checkbox
                                        @Html.Partial(FormThemeResolver.GetFieldView(Model, f), f)
                                        
                                        if (!f.HideLabel)
                                        {
                                            <label for="@f.Id" class="umbraco-forms-label">
                                                @f.Caption @if (f.ShowIndicator)
                                                {
                                                    <span class="umbraco-forms-indicator">@Model.Indicator</span>
                                                }
                                            </label>
                                        }


                                    } else {
                                        
                                        if (!f.HideLabel)
                                        {
                                            <label for="@f.Id" class="umbraco-forms-label">
                                                @f.Caption @if (f.ShowIndicator)
                                                {
                                                    <span class="umbraco-forms-indicator">@Model.Indicator</span>
                                                }
                                            </label>
                                        }
                                        @Html.Partial(FormThemeResolver.GetFieldView(Model, f), f)

                                    }

                                    @if (Model.ShowFieldValidaton)
                                    {
                                        @Html.ValidationMessage(f.Id)
                                    }
                                </div>

                            </div>
                         }

                    </div>
                 }
            </div>

        </fieldset>
    }

    <div style="display: none">
        <input type="text" name="@Model.FormId.ToString().Replace("-", "")" />
    </div>


    <div class="umbraco-forms-navigation row">

        <div class="col-md-12">
            

                @if (Model.IsMultiPage)
                {
                    if (!Model.IsFirstPage)
                    {
                        <input 
                            class="btn prev cancel" 
                            type="submit" 
                            value="@Model.PreviousCaption" 
                            name="__prev" />
                    }

                    if (!Model.IsLastPage)
                    {
                        <input type="submit" 
                            class="btn next" 
                            value="@Model.NextCaption" 
                            name="__next" />
                    }

                    if (Model.IsLastPage)
                    {
                        <input type="submit" 
                            class="btn primary" 
                            value="@Model.SubmitCaption" 
                            name="__next" />
                    }
                }
                else
                {
                    <div class="submit-wrap">
                        
                        <input type="submit" 
                        class="btn btn-blue btn-width-icon btn-block" 
                        value="@Model.SubmitCaption" 
                        name="__next" />
                        <i class="icon-arrow-right"></i>
                    </div>
                }
        </div>
    </div>
</div>