/**
 * @license
 * MyFonts Webfont Build ID 3715831, 2019-02-06T05:24:48-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: BrandonGrotesqueWeb-BoldItalic by HVD Fonts
 * URL: https://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/bold-italic/
 * 
 * Webfont: BrandonGrotesqueWeb-Bold by HVD Fonts
 * URL: https://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/bold/
 * 
 * Webfont: BrandonGrotesqueWeb-Regular by HVD Fonts
 * URL: https://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/regular/
 * 
 * Webfont: BrandonGrotesqueWeb-Italic by HVD Fonts
 * URL: https://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/italic/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3715831
 * Licensed pageviews: 1,000,000
 * Webfonts copyright: Copyright (c) 2015 by Hannes von Doehren. All rights reserved.
 * 
 * © 2019 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/38b2f7");

  
@font-face {font-family: 'BrandonGrotesqueWeb-BoldItalic';src: url('webfonts/38B2F7_0_0.eot');src: url('webfonts/38B2F7_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38B2F7_0_0.woff2') format('woff2'),url('webfonts/38B2F7_0_0.woff') format('woff'),url('webfonts/38B2F7_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesqueWeb-Bold';src: url('webfonts/38B2F7_1_0.eot');src: url('webfonts/38B2F7_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38B2F7_1_0.woff2') format('woff2'),url('webfonts/38B2F7_1_0.woff') format('woff'),url('webfonts/38B2F7_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesqueWeb-Regular';src: url('webfonts/38B2F7_2_0.eot');src: url('webfonts/38B2F7_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38B2F7_2_0.woff2') format('woff2'),url('webfonts/38B2F7_2_0.woff') format('woff'),url('webfonts/38B2F7_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'BrandonGrotesqueWeb-Italic';src: url('webfonts/38B2F7_3_0.eot');src: url('webfonts/38B2F7_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38B2F7_3_0.woff2') format('woff2'),url('webfonts/38B2F7_3_0.woff') format('woff'),url('webfonts/38B2F7_3_0.ttf') format('truetype');}
 