﻿@inherits UmbracoViewPage
@using Umbraco.Web.Models

@{ 
    IEnumerable<IPublishedContent> carousel = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>("heroCarousel");
}   

<div class="home-carousel-wrapper">
    @if( Model.HasValue("heroVideo") ){

        var video = Model.GetPropertyValue<IPublishedContent>("heroVideo");
        string videoUrl = video.Url;
        var videoTitle = Model.GetPropertyValue("videoTitle");
        string videoSubtitle = Model.GetPropertyValue<string>("videoSubtitle");
        var videoLogo = Model.GetPropertyValue<IPublishedContent>("videoLogo");
        var videoLinks = Model.GetPropertyValue<RelatedLinks>("videoLinks");

        IEnumerable<IPublishedContent> heroSlides = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("heroCarousel");

        string imgUrl = "/images/default.png"; 
                        
        // Check if there is a carousel object and if there are any slides 
        if (heroSlides != null && heroSlides.Count() > 0) {
            // Use the image from the first alide if it exists. If not, use a default image.
            if (heroSlides.First().HasValue("slideImage")) {
                imgUrl = heroSlides.First().GetPropertyValue<IPublishedContent>("slideImage").Url;
            } 
        }
        
        <div class="home-video-wrapper">
            <video autoplay muted loop>
                <source src="@Url.Content(videoUrl)" type="video/mp4">
            </video>
            <div class="slide-inner">
                @if ( videoLogo != null )
                {
                    <img class="slide-logo" src="@videoLogo.GetCropUrl("heroLogoCrop")" alt="Award logo">
                }
                <div class="slide-title text-center">
                    @videoTitle
                </div>
                @if ( Model.HasValue("videoSubtitle") )
                {
                    <p class="subtitle">
                        @videoSubtitle
                    </p>
                }
                @if (videoLinks != null)
                {
                    <div class="button-area">
                        @foreach( var link in videoLinks ){
                            <a class="btn btn-white btn-width-icon" role="button" target="@(link.NewWindow ? "_blank" : null)" href="@link.Link">
                                @link.Caption
                                @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                            </a>
                        }
                    </div>
                }
            </div>
        </div>
        
    } else if (carousel != null && carousel.Any())
    {
        <section class="carousel hero-carousel home-hero-carousel" 
        data-slick-options='{ 
            "nextArrow": "#homeNext", 
            "prevArrow": "#homePrev", 
            "dots": true 
        }' 
        id="heroCarousel">
         
            
            @foreach (IPublishedContent slide in carousel.Where(x => x.IsVisible()))
            {   
                IPublishedContent logo = slide.GetPropertyValue<IPublishedContent>("slideLogo");
                var title = slide.GetPropertyValue("slideTitle");
                string subtitle = slide.HasValue("slideSubtitle") ? slide.GetPropertyValue<string>("slideSubtitle") : "";
                string imageUrl = slide.HasValue("slideImage") ? slide.GetPropertyValue<IPublishedContent>("slideImage").Url : "/images/default.jpg";

                string imageAlt = slide.GetPropertyValue<string>("slideAlt");

                var links = slide.GetPropertyValue<RelatedLinks>("slideLinks");
                //var link = links != null ? links.FirstOrDefault() : null;
                
                <div class="slide" style="background-image: url('@(imageUrl)?width=2000&quality=50')">

                    <div class="slide-inner text-centre">
                        @if (logo != null)
                        {
                            <img class="slide-logo" src="@logo.GetCropUrl("heroLogoCrop")" alt="Award logo">
                        }
                        <div class="slide-title text-center">@title</div>
                         @if ( slide.HasValue("subtitle") )
                        {
                            <p class="subtitle">
                                @subtitle
                            </p>
                        }
                        @if (links != null)
                        {
                            <div class="button-area">
                                @foreach( var link in links ){
                                    <a class="btn btn-white btn-width-icon" role="button" target="@(link.NewWindow ? "_blank" : null)" href="@link.Link">
                                        @link.Caption
                                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
            
        </section>
        
        <div id="homePrev" class="slick-prev d-none d-md-block">
            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-left.svg")))
        </div>
        <div id="homeNext" class="slick-next d-none d-md-block">
            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
        </div>
    }       
</div>
 
