﻿@inherits UmbracoViewPage
@using Umbraco.Web.Models
       
@{ 
    IEnumerable<IPublishedContent> carousel = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>("genericHeroCarousel");

    var searchQuery = Request.QueryString["query"];
}

@if (carousel != null && carousel.Any())
{
    <div class="generic-carousel-wrapper">

        <section    class="carousel hero-carousel generic-hero-carousel" 
                    data-slick-options='
                    {
                        "slidesToShow": 1,
                        "arrows": true,
                        "dots": true,
                        "prevArrow": "#genPrev",
                        "nextArrow": "#genNext"
                    }
                    ' 
                    style="" id="heroCarousel">
            
            @foreach (IPublishedContent slide in carousel.Where(x => x.IsVisible()))
            {   
                var title = slide.GetPropertyValue("slideTitle");
                string subtitle = slide.HasValue("slideSubtitle") ? slide.GetPropertyValue<string>("slideSubtitle") : "";
                string imageUrl = slide.HasValue("slideImage") ? slide.GetPropertyValue<IPublishedContent>("slideImage").Url : "/images/default.jpg";
                
                var links = slide.GetPropertyValue<RelatedLinks>("slideLinks");
                var link = links != null ? links.FirstOrDefault() : null;
                
                <div class="slide" style="background-image: url('@(imageUrl)?width=2000&quality=50')">
                    <img class="img-vid-bg" src="" alt="">
                    <div class="slide-inner ta-c">
                        <h1 class="slide-title"><span class="text-orange">You</span> searched for "@( searchQuery != null ? searchQuery : "nothing!!" )"</h1>
                        @if ( slide.HasValue("slideSubtitle") )
                        {
                            <p class="subtitle">
                                @subtitle
                            </p>
                        }
                    </div>
                </div>
            }
        </section>
        <div id="genPrev" class="slick-prev slick-arrow">
            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-left.svg")))
        </div>
        <div id="genNext" class="slick-next slick-arrow">
            @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/arrow-right.svg")))
        </div>
    </div>
 }       
 