﻿@inherits UmbracoViewPage
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models
       
@{ 
    IEnumerable<IPublishedContent> slides = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>("genericHeroCarousel");
    var noSlides = slides.Count();
    
}

@if (slides != null && slides.Any())
{
    <div id="slider" class="sl-slider-wrapper hero-carousel">

        <div class="sl-slider">
            @{int i = 1;}
            @foreach( var slide in slides )
            {
                IPublishedContent logo = slide.GetPropertyValue<IPublishedContent>("slideLogo");
                var title = slide.GetPropertyValue("slideTitle");
                string subtitle = slide.GetPropertyValue<string>("slideSubtitle");
                string imageUrl = slide.HasValue("slideImage") ? slide.GetPropertyValue<IPublishedContent>("slideImage").Url : "/images/default.jpg";
                string imageAlt = slide.GetPropertyValue<string>("slideAlt");
                var links = slide.GetPropertyValue<RelatedLinks>("slideLinks");
                var link = links != null ? links.FirstOrDefault() : null;

                <div class="sl-slide bg-@(i)" 
                        data-orientation="@( (i % 2) == 0 ? "horizontal" : "vertical" )" 
                        data-slice1-rotation="@( (i % 2) == 0 ? "-25" : "-15" )" 
                        data-slice2-rotation="@( (i % 2) == 0 ? "-45" : "-30" )" 
                        data-slice1-scale="@( i*i*i )" 
                        data-slice2-scale="@( i*i*i )" 
                        >
                    <div class="sl-slide-inner" style="background-image: url('@imageUrl?width=2000&quality=50')">
                        <div class="slide-content">
                            <div class="page-category">
                                @{
                                    string pageCategory = CurrentPage.AncestorOrSelf(2).Name;
                                }
                                @pageCategory
                            </div>   
                            <div class="slide-title text-center">
                                @title
                            </div>
                            @if( slide.HasValue("slideSubtitle") )
                            {
                                <div class="subtitle text-center">
                                    @subtitle
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
                i++;
            }
        </div><!-- /sl-slider -->

        @if( noSlides > 1)
        {
            <nav id="nav-arrows" class="nav-arrows d-none d-md-block">
                <span class="nav-arrow-prev icon-arrow-left"></span>
                <span class="nav-arrow-next icon-arrow-right"></span>
            </nav>

            <nav id="nav-dots" class="nav-dots">
                @{int j = 0;}
                @foreach( var slide in slides )
                {
                    <span class="@( j == 0 ? "nav-dot-current" : "" )"></span>
                    j++;
                }
            </nav>
        }

    </div>
<!-- /slider-wrapper -->
 } else {
     <h2>Please add some slides to this carousel</h2>
 }   
 