.accordion {
    border-top: $border-dashed !important;

    .card {
        border-bottom: $border-dashed !important;
        border-radius: 0;
    }
    .card-header {
        border-bottom: none;
        button {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            text-transform: none;
            font-size: 20px;
            line-height: 24px;
            padding: 30px 0;
            
            &.collapsed {
                .icon-arrow-right {
                    display: block;
                    transform: rotate3d(0, 0, 1, 90deg);
    
                }
            }

            .icon-arrow-right {
                transform: rotate3d(0, 0, 1, -90deg);
                transition: transform 0.3s;
            }

        }
    }

    .card-body {
        padding: 0 0 30px;
        > *:last-child {
            margin-bottom: 0;
        }
    }
}