.animal-call-to-action-area {
    padding: 58px 0;

    @include clip-pathable('/images/spotted-pattern-yellow.png', 684px, 608px, -80px);

    @include media-breakpoint-up(lg) {
        padding: 158px 0;

        .teaser-col {
            &:nth-child(even) {
                .teaser {
                    margin-top: 20px;
                }
            }
            &:nth-child(odd) {
                .teaser {
                    margin-top: -20px;
                }
            }
        }
    }
    .tree {
        display: block;
        height: 196px;
        width: 240px;
        position: absolute;
        background-image: url(/images/illustrations/trees.svg);
        background-repeat: no-repeat;
        background-position: top left;
        top: 50px;
        right: 0;
    }

    .teaser {
        height: 120px;
        margin-bottom: 10px;
        @include media-breakpoint-up(lg) {
            height: 150px;
            margin-bottom: 0px;
            //margin-bottom: 50px;
            @include aspect-ratio(280px, 280px);
        }

        .teaser-image {
            width: 50%;
            border-right: 10px solid white; // Fix for 1px split on high dpi monitors
            box-shadow: inset -10px 0px 0px 0px rgba(255, 255, 255, 1);
            @include media-breakpoint-up(md) {
                width: 100%;
                border: none;
                box-shadow: none;
            }

            &::before {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                background: #fff;
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: opacity ease-out 0.5s;
            }
        }

        .teaser-inner {
            .teaser-title {
                text-transform: uppercase;
                color: $body-color;
                display: block;
                width: 100%;
                padding: 20px 20px 0px 40px;
                background-image: none;
                background-position: bottom left;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all ease-out 0.5s;
                transition-delay: 1s; // minimise flicker
                font-size: calculateRem(18px) !important;
                @include media-breakpoint-up(md) {
                    font-size: calculateRem(28px);
                }
            }

            .teaser-content {
                display: flex;
                padding: 0 60px 15px 15px;
                
                .teaser-text {
                    opacity: 1;
                    transition: opacity 0.3s;
                    font-size: calculateRem(16px);
                    padding-right: 40px;
                    @include media-breakpoint-up(md) {
                        opacity: 0;
                        font-size: calculateRem(16px);
                        padding-right: 0px;
                    }
                }
                .teaser-arrow{
                    transition: opacity 0.3s, right 0.3s;
                }
            }
            &:hover{
                .teaser-content {
                    .teaser-text{
                        opacity: 1;
                    }
                    .teaser-arrow{
                        opacity: 0;
                    }
                }
            }
        }

        &:hover {
            @include media-breakpoint-up(md) {
                .teaser-image {
                    &::before {
                        transition: opacity ease-out 0.5s;
                        opacity: 0;
                    }
                }

                .teaser-inner {
                    .teaser-title {
                        transition: all ease-out 0.5s;
                        background-image: url('/images/teaser-title-back.svg');
                    }
                }
            }
            // MQ
        }

        &.green {
            background-image: url(/images/green-claw.png);
            background-size: 500px 500px;
            background-position: bottom left;
            background-color: transparent;

            &::before {
                //display: none;
            }

            .teaser-inner {
                .teaser-title {
                    color: #fff;
                    padding-bottom: 0;
                }

                .teaser-content {
                    ul {
                        margin-bottom: 66px !important;
                        display: none;

                        @include media-breakpoint-up(md) {
                            display: block;
                        }

                        li {
                            a {
                                padding: 0 20px;
                                color: #fff;
                                font-family: $headings-font-family;
                                font-size: 20px;
                                transition: $transition;

                                &:hover {
                                    text-decoration: none;
                                    padding-left: 25px;
                                    transition: $transition;
                                }
                            }
                        }
                    }

                    .teaser-arrow {
                        display: block;

                        @include media-breakpoint-up(md) {
                            display: none;
                        }

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }

            &:hover {
                .teaser-title {
                    background: none;
                }
            }
        }

        // teaser hover to hide arrows
        &:hover {
            @include media-breakpoint-up(md) {
                .teaser-image {
                    &::before {
                        transition: opacity ease-out 0.5s;
                        opacity: 0;
                    }
                }
    
                .teaser-inner {
                    .teaser-title {
                        transition: all ease-out 0.5s;
                        background-image: url('/images/teaser-title-back.svg');
                    }
                }
            } // MQ
        }
    }

    .col {
        // Clip a path out
        &:nth-child(1) {
            .teaser-image {
                &::before {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 64% 100%, 75% 50%, 0 27%);
                }
            }
        }

        &:nth-child(2) {
            .teaser-image {
                &::before {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 54% 100%, 72% 71%, 0 27%);
                }
            }
        }

        &:nth-child(3) {
            .teaser-image {
                &::before {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 79% 59%, 0 27%);
                }
            }
        }

        &:nth-child(4) {
            .teaser-image {
                &::before {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%, 78% 67%, 0 27%);
                }
            }
        }

        &:last-child() {
            .teaser {
                margin-bottom: 50px;
            }
        }
    }
}
