.animal-slider-section {
    margin-top: -30px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        margin-top: 0 !important;
    }

    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);

    .slick-slide,
    .slick-slide-inner-mobile,
    .slick-slide-inner-desktop,
    .slick-slide>div {
        height: 100%;
    }

    .slide {
        position: relative;
        background-size: cover;
        padding-top: 40px;

        @include media-breakpoint-up(lg) {
            height: 640px;
        }

        a:hover {
            text-decoration: none;
        }

        h2,
        h3,
        p.fact {
            color: #fff;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 44px;
            line-height: 44px;
        }

        .snippet,
        .fact {
            color: #fff;
            font-size: 16px;
            line-height: 20px;
        }

        p.fact {
            font-family: $headings-font-family;
        }

        .bulb svg {
            path {
                fill: #fff;
            }
        }

        .bg {
            position: absolute;
            width: 820px;
            height: 300px;
            top: 0;
            left: 0;

            @include svg-fill-colors();
        }

        // The mobile version
        .slide-inner-mobile {
            display: block;
            height: calc(100vh - 109px);
            max-height: 635px;

            .container,
            .row {
                height: 100%;
            }

            .container {
                padding: 0 !important;
                max-width: initial;
            }

            @include media-breakpoint-up(lg) {
                display: none;
            }

            .title {
                padding-left: 30px;
            }

            .content {
                position: relative;
            }

            .inner {
                position: relative;
                width: 100%;
                max-width: 315px;
                padding: 30px 90px 0 30px;

                .btn {
                    z-index: 10;
                }
            }

            .bg {
                // @include bg-colors();
                background-repeat: no-repeat;
                // margin-top: -30px;

                h2 {
                    padding: 50px 0 22px;
                }

                h3 {
                    margin: 0;
                    padding: 0 0 10px;
                }

                p.fact {
                    padding-bottom: 150px;
                }
            }

            .fact {
                position: relative;
                z-index: 1;
            }
            
            .bulb {
                svg {
                    height: 25px;
                }
            }

            .img {
                position: absolute;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 70%;

                img {
                    width: 100%;
                }
            }
        }

        // The text areas are split into 2 mobile/desktop divs.  We have media queries here for xl, standard it lg.  md down is mobile
        .slide-inner-desktop {
            display: none;

            height: 100%;

            .container,
            .row {
                height: 100%;
            }

            @include media-breakpoint-up(lg) {
                display: block;
            }

            .type {
                background-image: url('/images/animal-slider-type-back.png');
                background-repeat: no-repeat;
                background-size: 634px 288px;
                position: absolute;
                top: 70px;
                left: 125px;
                width: 634px;
                height: 288px;
                z-index: 1;
                text-align: center;

                h2 {
                    display: inline-block;
                    text-align: center;
                    padding-top: 25px;
                    padding-right: 310px;
                }
            }

            .title {
                padding-left: 110px;
            }

            .content {
                position: absolute;
                top: 115px;
                left: 0;
                width: 820px;
                height: 300px;
                z-index: 5;
                padding-left: 120px !important;
                padding-top: 60px;

                .bg {
                    position: absolute;
                    width: 820px;
                    height: 300px;
                    top: 0;
                    left: 0;
                    z-index: -1;

                    @include svg-fill-colors();
                }

                .inner {
                    max-width: 340px;
                }

                .bulb {
                    svg {
                        height: 40px;
                    }
                }


                h3,
                p.fact {
                    display: block;
                    position: relative;

                    // @include media-breakpoint-up(xl) {
                    //     padding-left: 80px;
                    //     width: 435px;
                    // }
                }

                h3 {
                    font-size: 40px;
                    line-height: 40px;
                    padding-top: 28px;

                    @include media-breakpoint-up(xl) {
                        font-size: 44px;
                        line-height: 44px;
                    }
                }
            }
        }



        .img {
            text-align: center;
            margin: 0 auto;

            @include media-breakpoint-up(lg) {
                height: 600px;
                width: 660px;
                right: 0px;
                bottom: 0;
                z-index: 10;
                height: 500px;
                width: 550px;
                position: absolute;
            }

            @include media-breakpoint-up(xl) {
                height: 600px;
                width: 660px;
            }

            img {
                max-width: 100%;
            }
        }
    }

    .slick-arrow {
        background: none;
        width: 40px;
        height: 40px;
        bottom: 40px;
        top: auto;
        left: 10px;

        @include media-breakpoint-up(lg) {
            left: 120px;
            bottom: 80px;
        }

        &.slick-next {
            left: 260px;

            @include media-breakpoint-up(lg) {
                left: 350px;
            }
        }

        svg {
            path {
                fill: #fff;
            }
        }
    }

    #animalNext,
    #animalPrev {
        
        @include media-breakpoint-down(lg) {
            display: none !important;
        }
    }

    .slick-dots {
        bottom: 50px;
        left: 30px;
        width: auto;
        z-index: 2;

        @include media-breakpoint-up(md) {
            left: 50px;
        }

        @include media-breakpoint-up(lg) {
            left: 225px;
            bottom: 90px;
        }
    }

    .mountains {
        background-image: url('/images/hills-trees-bg.png');
        background-repeat: no-repeat;
        background-size: 4000px 350px;
        background-position: top left;
        height: 350px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .animal-slider {
        z-index: 1;
    }

    .nav-container {
        @include media-breakpoint-down(sm) {
            padding: 0;
            max-width: inherit;

        }
    }
}