.breadcrumb-wrap {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
}

.breadcrumb {

    li,
    a {
        color: $white;
        font-family: $headings-font-family;
        font-size: 20px;
        line-height: 24px;
    }

    a:hover {
        text-decoration: underline;
    }
}