.contact-wrapper {
    padding-top: 75px;

    @include media-breakpoint-up(lg) {
        padding-top: 100px;
    }

    .contact-summary {
        h3 {
            padding-bottom: 30px;
        }

        p {
            line-height: 20px;
        }

        strong {
            padding-top: 30px;
            display: inline-block;
        }

        @include media-breakpoint-up(lg) {
            p {
                line-height: 21px;
                margin-bottom: 0px;
            }
        }
    }

    .contact-form-static {
        padding: 50px 20px;

        @include media-breakpoint-up(lg) {
            padding: 50px 40px;
        }

        background-color: #EEEEEE;

        h3 {
            margin-bottom: 42px;
        }

        .checkbox {
            position: absolute;
            left: -200vw;

            &+label {
                display: flex;
                align-items: center;
                cursor: pointer;

                &:before {
                    content: "";
                    background-color: #fff;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #DDDDDD;
                    border-radius: 5px;
                    margin-right: 20px;
                    text-align: center;
                    line-height: 39px;
                    font-size: 0px;
                    transition: font-size 0.3s;
                    cursor: pointer;
                    color: $blue;
                }
            }

            &:checked+label {
                font-weight: 600;

                &:before {
                    content: "\2713";
                    font-size: 28px;
                }
            }
        }

        .error {
            background-color: $blue;
            color: #fff;
            font-size: 0.75rem;
            padding: 5px;
            border-radius: 5px;
            margin-top: 10px;
        }
    }
}


// Apply style to Umbraco forms

.contact-wrapper {
    padding-top: 75px;

    @include media-breakpoint-up(lg) {
        padding-top: 100px;
    }

    .contact-summary {
        h3 {
            padding-bottom: 30px;
        }

        p {
            line-height: 20px;
        }

        strong {
            padding-top: 30px;
            display: inline-block;
        }

        @include media-breakpoint-up(lg) {
            p {
                line-height: 21px;
                margin-bottom: 0px;
            }
        }
    }
}


.umbraco-forms-form {
    form {
        padding: 50px 20px;

        @include media-breakpoint-up(lg) {
            padding: 50px 40px;
        }

        background-color: #EEEEEE;

        h3 {
            margin-bottom: 42px;
        }

        
    }

    &.contactform {
        label {
            display: none;
        }
    }

    .checkboxlist {
        display: block;
        float: none !important;
    }

    .checkbox {

        input[type="checkbox"] {
            position: absolute;
            left: -200vw;

            &:checked {

                +label {
                    font-weight: 600;

                    &:before {
                        content: "\2713";
                        font-size: 28px;
                    }
                }
            }
        }

        label {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:before {
                content: "";
                background-color: #fff;
                display: inline-block;
                width: 40px;
                height: 40px;
                border: 1px solid #DDDDDD;
                border-radius: 5px;
                margin-right: 20px;
                text-align: center;
                line-height: 39px;
                font-size: 0px;
                transition: font-size 0.3s;
                cursor: pointer;
                color: $blue;
            }
        }

        
    }

    // Error messages
    .field-validation-error {
        span {
            display: block;
            background-color: $blue;
            color: #fff;
            font-size: 0.75rem;
            padding: 5px;
            border-radius: 5px;
            margin-top: 10px;
        }
    }

    .submit-wrap {
        position: relative;
        
        i {
            position: absolute;
            right: 12px;
            top: 17px;

            &:before {
                color: #fff;
            }
        }
    }
}

// Max-width on umbraco forms

.one-col-wrap {
    .umbraco-forms-form {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
    }
}