.displays-talks-slider-wrapper {
    @extend .bg-blue-grey;

    .slider-title {
        font-size: calculateRem(36px);
        color: $white;
        padding: 51px 0px 10px;
    }

    .displays-talks-slider {
        .slick-list {
            .slick-track {
                padding-top: 70px;
                display: flex;
                align-content: flex-end;

                .slick-slide {
                    transition: transform 0.3s;
                }

                .slick-current {
                    transform: translate3d(0, -40px, 0)
                }
            }
        }

        .slide {
            padding: 10px;

            .card {
                height: 500px;
                       
                .card-text {
                    height: 100px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .card {
                position: relative;

                .category {
                    font-size: calculateRem(20px);
                    line-height: 24px;
                    color: $white;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: inline-block;
                    position: absolute;
                    top: -15px;
                    right: -40px;
                    z-index: 5;
                    text-align: center;
                    font-family: $headings-font-family;
                    
                    text-transform: uppercase;
                    padding: 20px 60px;
                    // transform: translate3d(0, -76%, 0);
                    min-width: 200px;
                    text-align: center;
                }

                border: 0px solid transparent;

                .card-body {
                    .btn {
                        font-size: calculateRem(16px);
                    }
                }
            }

            @include media-breakpoint-up(lg) {
                width: 343px !important;
            }

            .card-img-top {
                background-size: cover;
                background-position: center;
                //
                @include aspect-ratio(100, 59.6);

                @include media-breakpoint-up(sm) {
                    @include aspect-ratio(100, 25.2);
                }

                @include media-breakpoint-up(lg) {
                    @include aspect-ratio(285, 130);
                }
            }

            .card-body {
                
                
                .card-text {
                    padding-bottom: 30px;
                    max-height: 100px;

                    @include media-breakpoint-up(lg) {
                        margin-bottom: 30px;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    .dat-navigation {
        padding: 20px 0px 60px;

        .slick-arrow {
            background-color: transparent;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            svg path {
                fill: #fff;
            }
        }

        .slick-dots {
            position: relative;
            bottom: 0px;

            // li {
            //     height: 10px;
            //     width: 10px;

            //     @include media-breakpoint-up(lg) {
            //         height: 20px;
            //         width: 20px;
            //     }
            // }
        }
    }
}