.slider-title {
    font-size: calculateRem(36px);
    color: $white;
    padding: 51px 0px 10px;

    .container {
        @include media-breakpoint-down(md) {
            max-width: 235px;
        }
    }
}

.events-news-slider-wrapper {
    @extend .bg-blue-grey;


    .events-news-slider {
        .slick-list {
            @include media-breakpoint-down(sm) {
                padding-left: 0 !important;
            }

            .slick-track {
                padding-top: 70px;
                display: flex;
                align-content: flex-end;

                .slick-slide {
                    transition: transform 0.3s;
                }

                .slick-current {
                    transition: transform 0.3s;
                    transform: translate3d(0, -40px, 0)
                }
            }
        }

        .slide {
            padding: 10px;

            .card {
                height: 500px;
                
                @include media-breakpoint-up(md) {
                    height: 420px;
                }
        
                .card-text {
                    max-height: 100px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .card {
                border: 0px solid transparent;

                .card-body {

                    .date,
                    .category {
                        font-size: calculateRem(20px);
                        line-height: calculateRem(24px);
                        font-family: $headings-font-family;
                        margin-bottom: 25px;
                    }

                    .btn {
                        font-size: calculateRem(16px);
                        margin: 0 15px 15px 0;
                        display: inline-block;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            &.news {
                @include media-breakpoint-up(lg) {
                    width: 343px !important;
                }

                .card-img-top {
                    background-size: cover;
                    background-position: center;
                    //
                    @include aspect-ratio(100, 59.6);

                    @include media-breakpoint-up(sm) {
                        @include aspect-ratio(100, 25.2);
                    }

                    @include media-breakpoint-up(lg) {
                        @include aspect-ratio(285, 130);
                    }
                }

                .card-body {
                    position: relative;

                    .category {
                        font-size: calculateRem(20px);
                        color: $white;
                        background-image: url(/images/tag-news-bg.png);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        display: inline-block;
                        position: absolute;
                        top: -45px;
                        right: -55px;
                        // @include media-breakpoint-up(lg) {
                        //     right: -10px;
                        // }

                        text-transform: uppercase;
                        padding: 20px 60px;
                        // transform: translate3d(0, -76%, 0);
                        min-width: 200px;
                        text-align: center;
                    }

                    .card-text {
                        margin-bottom: 30px;
                        line-height: 20px;

                        @include media-breakpoint-up(lg) {
                            max-height: 160px;
                            margin-bottom: 30px;
                            overflow: hidden;
                        }
                    }
                }
            }

            &.event {
                max-width: 100% !important;

                @include media-breakpoint-up(lg) {
                    width: 620px !important;
                }

                .event-image {
                    @include aspect-ratio(285, 130);
                    background-size: cover;
                    background-position: center;
                    border-radius: 5px 0px 0px 5px;
                    // position: absolute;
                    top: 0;
                    left: 0px;
                    width: 100%;
                    height: 100%;

                    @include media-breakpoint-up(lg) {}
                }

                .card-body {
                    position: relative;
                    min-height: 420px;

                    @include media-breakpoint-up(sm) {
                        padding-left: 0;
                    }

                    .category {
                        font-size: calculateRem(20px);
                        color: $white;
                        background-image: url(/images/tag-event-bg.png);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        display: inline-block;
                        position: absolute;
                        top: -45px;
                        right: -50px;
                        text-align: center;
                        min-width: 282px;

                        @include media-breakpoint-up(sm){
                            top: -10px;
                            right: auto;
                            left: -80px;
                        }

                        text-transform: uppercase;
                        padding: 20px 70px;

                        // @include media-breakpoint-up(lg) {
                        //     transform: translate3d(-20%, -30%, 0);
                        // }
                        // transform: translate3d(0%, -30%, 0);
                    }

                    .card-title {
                        margin-top: 15px;

                        @include media-breakpoint-up(sm){
                            margin-top: 35px;
                        }
                    }

                    .card-text {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }

    .nae-navigation {
        padding: 20px 0px 60px;

        .slick-arrow {
            background-color: transparent;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            svg path {
                fill: #fff;
            }
        }

        .slick-dots {
            position: relative;
            bottom: 0px;

            li {
                height: 10px;
                width: 10px;

                @include media-breakpoint-up(md) {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

