.explore-teasers-wrap {
    position: relative;
}

.explore-teasers {
    &::before {
        content: " ";
        background-image: url(/images/illustrations/grass.png);
        background-size: 1500px 120px;
        background-repeat: repeat-x;
        background-position: top center;
        position: absolute;
        top: -100px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
    background-color: #fff;
    padding: 0px 0 60px;    

    .giraffe {
        display: block;
        height: 890px;
        width: 390px;
        position: absolute;
        background-image: url(/images/illustrations/giraffe.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        top: -150px;
        left: 0;
        pointer-events: none;
    }

    // Title
    .title-wrap {
        background-image: url(/images/explore-orange-mobile-bg.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        color: #fff;
        width: 100%;
        text-align: center;
        top: 40px;
        z-index: 1;
        @include aspect-ratio(350px, 150px);
        margin: 0 auto;
        pointer-events: none;

        @include media-breakpoint-up(md) {
            background-image: url(/images/orange-shape.svg);
            width: 618px;
            height: 170px;
            padding: 58px 30px;
        }

        h2 {
            font-size: 28px;
            @include v-h-c;
            width: 100%;
            padding: 0 30px;
            
            @include media-breakpoint-up(md) {
                font-size: 36px;
            }
        }
    }

    .teasers {
        .teaser {
            @include aspect-ratio(300px, 210px);
            
            @include media-breakpoint-up(md) {
                @include aspect-ratio(380px, 350px);
                
            }
            margin-bottom: 20px;

            .teaser-inner {
                .teaser-content {
                    .teaser-arrow {
                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }

                    .title-shape {
                        width: 330px;
                        height: 178px;
                        padding: 60px 100px 60px 30px;
                        position: absolute;
                        bottom: 25px;
                        left: 0;
                        background-position: right 10px top;
                        background-size: contain;
                        background-repeat: no-repeat;

                        &.x1 {
                            @include explore-shapes('1');
                        }

                        &.x2 {
                            @include explore-shapes('2');
                        }

                        &.x3 {
                            @include explore-shapes('3');
                        }

                        h3, h4 {
                            color: #fff;
                            margin: 0;
                        }

                        h3 {
                            font-size: 28px;
                            line-height: 28px;
                        }

                        h4 {
                            font-size: 20px;
                            line-height: 24px;
                            text-transform: none;
                        }
                    }
                }
            }

            &:hover {
                @include media-breakpoint-up(md) {
                    .teaser-inner {
                        .teaser-content {
                            .teaser-arrow {
                                svg {
                                    path {
                                        fill: theme-color("orange");
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}