.explore-slider-section {    
    padding-top: 110px;
    padding-bottom: 250px;

    @include clip-pathable('/images/giraffe-pattern.jpg', 420px, 420px, 50px);

    @include media-breakpoint-up(md) {
        top: 0;
    }
    &::after {
        content: " ";
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 750px;
        background-image: url('/images/mountains-trans-bg.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        z-index: 5;
    }

    .slide {
        position: relative;

        @include media-breakpoint-up(lg) {
            height: 600px;
        }

        a:hover {
            text-decoration: none;
        }

        h2, h3, p.subtitle {
            color: #fff;
        }
        
        h2 {
            font-size: 20px;
        }
        
        h3 {
            font-size: 36px;
            line-height: 36px;
            @include media-breakpoint-up(md) {
                font-size: 44px;
                line-height: 44px;
            }
        }
        
        p.subtitle {
            font-size: 28px;
            line-height: 28px;
            font-family: $headings-font-family;
        }

        // The text areas are split into 2 mobile/desktop divs.  We have media queries here for xl, standard it lg.  md down is mobile
        .slide-inner-desktop {
            display: none;

            @include media-breakpoint-up(lg) {
                display: block;
            }

            .type {
                background-image: url('/images/explore-slider-type-back.png');
                background-repeat: no-repeat;
                background-size: 634px 288px;
                position: absolute;
                top: 60px;
                left: 125px;
                width: 634px;
                height: 288px;
                z-index: 1;
                text-align: center;
                
                h2 {
                    display: inline-block;
                    text-align: center;
                    padding-top: 30px;

                    @include media-breakpoint-up(md) {
                        padding-right: 205px;
                        
                    }

                    @include media-breakpoint-up(xl) {
                        padding-right: 110px;
                        
                    }
                }
            }

            .title {
                position: absolute;
                top: 115px;
                left: 0;
                width: 820px;
                height: 300px;
                z-index: 2;

                .bg {
                    position: absolute;
                    width: 820px;
                    height: 300px;
                    top: 0;
                    left: 0;

                    @include svg-fill-colors();
                }

                h3, p.subtitle {
                    width: 385px;
                    text-align: right;
                    display: block;
                    padding-left: 60px;
                    position: relative;
                    z-index: 4;

                    @include media-breakpoint-up(xl) {
                        padding-left: 80px;
                        width: 435px;
                    }
                }

                h3 {
                    font-size: 40px;
                    line-height: 40px;
                    padding-top: 44px;

                    @include media-breakpoint-up(xl) {
                        font-size: 44px;
                        line-height: 44px;
                    }
                }

                p.subtitle {
                    font-size: 22px;
                    line-height: 22px;

                    @include media-breakpoint-up(xl) {
                        font-size: 28px;
                        line-height: 28px;
                    }
                }
            }
        }

        // The mobile version
        .slide-inner-mobile {
            display: block;

            @include media-breakpoint-up(lg) {
                display: none;
            }

            .bg {                
                @include bg-colors();
                margin-top: -30px;

                h2 {
                    padding: 50px 0 22px;
                }

                h3 {
                    margin: 0;
                    padding: 0 0 10px;
                }

                p.subtitle {
                    padding-bottom: 150px;
                }

                .col {
                    height: 400px;
                }
            }
        }

        .img {
            text-align: center;
            margin: 0 auto;

            @include media-breakpoint-up(lg) {
                height: 600px;
                width: 660px;
                right: 0px;
                top: 0;
                z-index: 3;
                height: 500px;
                width: 550px;
                position: absolute;
            }

            @include media-breakpoint-up(xl) {
                height: 600px;
                width: 660px;
            }

            img {
                max-width: 100%;
            }
        }
    }

    .slick-arrow {
        background: none;
        @include media-breakpoint-up(md) {
            width: 40px;
            height: 40px;
        }
        bottom: 40px;
        top: auto;
        left: 10px;

        @include media-breakpoint-up(lg) {
            left: 100px;
            bottom: 140px;
        }

        &.slick-next {
            left: 260px;

            @include media-breakpoint-up(lg) {
                left: 400px;
            }
        }
        
        svg {
            path {
                fill: #fff;
            }
        }
    }

    .slick-dots {
        width: 210px;
        bottom: 50px;
        left: 50px;
        z-index: 2;

        @include media-breakpoint-up(lg) {
            left: 225px;
            width: auto;
            bottom: 150px;
        }
    }
    .mountains {
        background-image: url('/images/hills-trees-bg.png');
        background-repeat: no-repeat;
        background-size: 4000px 350px;
        background-position: top left;
        height: 350px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    .explore-slider {
        z-index: 15;
    }
}

.Home {
    .explore-slider-section {    
        padding-top: 350px;
    }
}