.generic-slider {
    height: 100vh;

    .slick-list,
    .slick-track,
    .slick-slide,
    .slick-slide>div,
    .slide,
    .slide>img {
        height: 100%;
        // width: auto !important
    }
}