.hero-carousel {


    &.home-hero-carousel {
        height: 100vh;

        .slick-list,
        .slick-track,
        .slick-slide,
        .slick-slide>div,
        .slide,
        .slide>img {
            height: 100%;
            // width: auto !important
        }

        .slide-logo {
            width: 75px;
            height: 75px;
            margin-bottom: 40px;

            @include media-breakpoint-up(md) {
                height: 120px;
                width: 120px;
                margin-bottom: 90px;
            }
        }
    }

    &.generic-hero-carousel {
        height: 50vh;
        min-height: 670px;

        .slick-list,
        .slick-track,
        .slick-slide,
        .slick-slide>div,
        .slide,
        .slide>img {
            height: 100%;
            // width: auto !important
        }
    }

    .img-vid-bg {
        @include v-h-c;
        height: 100%;
        width: auto;
    }

    .slide {
        background-size: cover;
        background-position: center center;
        position: relative;
        backface-visibility: hidden;

        &::before {
            content: " ";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba($body-color, 0.5);
        }
    }





    .slide-inner {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        position: relative;

        >*:last-child {
            margin-bottom: 0;
        }
    }
}

.home-carousel-wrapper {
    height: 100vh;
    position: relative;
    bottom: 0px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
        //margin-bottom: -50px;
    }

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        margin-bottom: 0;
    }

    .home-video-wrapper {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        h1,
        h2 {
            @include media-breakpoint-up(md) {
                font-size: 60px;
            }
        }

        &:after {
            content: '';
            background-color: #000;
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.3;
        }

        // &.video-loaded {
        //     &:after {
        //         opacity: 0.3;
        //     }
        // }

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        video {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .slide-inner {
            flex-direction: column;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &::after {
        content: " ";
        position: absolute;
        height: 150px;
        width: 110%;
        bottom: -80px;

        @include media-breakpoint-up(md) {
            bottom: -100px;
        }

        left: -5%;
        background: rgba(4, 157, 151, 0.5);
        transform: rotate(2deg);

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            /* IE10+ CSS styles go here */
            display: none;
        }


    }

    .slick-arrow {
        background: none;
        width: 40px;
        height: 40px;

        svg {
            path {
                fill: #fff;
            }
        }
    }

    .slick-dots {
        bottom: 90px;
    }

    .slide-title {
        margin-bottom: 55px;

        @include media-breakpoint-up(md) {
            margin-bottom: 80px;
        }
    }

    .slide-logo {
        width: 75px;
        height: 75px;
        margin-bottom: 40px;

        @include media-breakpoint-up(md) {
            height: 120px;
            width: 120px;
            margin-bottom: 90px;
        }
    }
}


.generic-carousel-wrapper {
    position: relative;
    bottom: 0px;
    overflow: hidden;

    .slick-arrow {
        background: none;
        width: 40px;
        height: 40px;

        svg {
            path {
                fill: #fff;
            }
        }
    }
}


.planYourVisit,
.explore,
.contentPage,
.contact,
.whatsOn,
.openingTimes,
.ticketsAndPrices,
.events,
.event {
    .generic-carousel-wrapper {
        @include media-breakpoint-up(md) {
            // margin-bottom: -50px;
        }

        &::before {
            content: " ";
            position: absolute;
            height: 150px;
            width: 110%;
            bottom: 0;
            left: -5%;
            background: rgba(255, 255, 255, 1);
            transform: translate3d(0, 75%, 0) rotate(-6deg);
            @include media-breakpoint-up(md) {
                transform: translate3d(0, 75%, 0) rotate(-2.3deg);
            }
            z-index: 10;

            @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                /* IE10+ CSS styles go here */
                display: none;
            }
        }

        &::after {
            content: " ";
            position: absolute;
            height: 150px;
            width: 110%;
            bottom: 0;
            left: -5%;
            background: rgba(4, 157, 151, 0.5);
            transform: translate3d(0, 75%, 0) rotate(6deg);
            @include media-breakpoint-up(md) {
                transform: translate3d(0, 75%, 0) rotate(2.3deg);
            }
            z-index: 0;

            @media all and (-ms-high-contrast: none),
            (-ms-high-contrast: active) {
                /* IE10+ CSS styles go here */
                display: none;
            }
        }

    }
}

// Page category, on non homepage pages

.page-category {
    text-transform: uppercase;
    font-family: $headings-font-family;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 20px;
    color: #fff;

    @include media-breakpoint-up(md) {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 45px;
    }
}

.subtitle {
    font-family: $headings-font-family;
    font-size: 28px;
    line-height: 28px;

    @include media-breakpoint-up(md) {
        font-size: 36px;
        line-height: 36px;
    }
}

// Hide video on iOS to show background image instead - video doesn't autoplay on ios
html[data-useragent*='iPad'],
html[data-useragent*='Macintosh'],
html[data-useragent*='iPhone'] {
    .home-video-wrapper {
        &:after {
            opacity: 0.3 !important
        }
    }
}

.generic-carousel-wrapper,
.home-carousel-wrapper,
.sl-slider-wrapper {

    // hide hero arrows on mobile 
    @include media-breakpoint-down(md) {
        .slick-arrow {
            display: none !important;
        }
    }

    h1,
    h2,
    h3 {
        word-break: break-word
    }
}