.instagram-sotw-wrapper {
    background-image: url(/images/wooden-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -1px;

    //@include aspect-ratio(100, 180);
    @include media-breakpoint-up(md) {
        @include aspect-ratio(100, 50);
        background-size: cover;
    }

    @include media-breakpoint-up(lg) {
        @include aspect-ratio(2809, 1058);
        background-size: contain;
    }

    .instagram-sotw {
        @include media-breakpoint-up(md) {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
        }

        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-content {
            font-size: calculateRem(20px);
            line-height: calculateRem(24px);
            padding-bottom: 75px;
            font-family: $headings-font-family;

            @include media-breakpoint-up(xl) {
                font-size: calculateRem(28px);
                line-height: calculateRem(28px);
            }

            color: $white;
        }

        &-tag {
            a {
                color: $white;
                font-size: calculateRem(20px);
                padding-bottom: 39px;
                margin-bottom: 39px;
                margin-left: 0;
                border-bottom: 2px dotted $white;
                max-width: 280px;
                font-family: $headings-font-family;

                &>div {
                    margin-left: 20px;
                }
            }
        }

        &-image {
            margin: 20px 0;

            @include media-breakpoint-up(lg) {
                margin: 0px;
            }
        }

        .sotw-sign {
            // background-image: url(/images/snap-of-the-week-sign.png);
            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                z-index: 5;
            }
            margin: 50px 0px 0px;

            svg {
                position: absolute;
                width: 37%;
                max-width: 130px;
                opacity: 0.15;
                right: -35px;
                top: 32px;
                -webkit-transform: rotate(5deg);
                -ms-transform: rotate(5deg);
                transform: rotate(5deg);

                path {
                    fill: #000;
                }
            }

            //max-width: 231px;
            @include aspect-ratio(311, 112);

            @include media-breakpoint-up(md) {

                max-width: 290px;
                position: relative;
                margin: 7px 0 0 12px;
                @include aspect-ratio(410, 160);
            }

            @include media-breakpoint-up(lg) {
                max-width: 230px;
            }

            @include media-breakpoint-up(xl) {
                max-width: 380px;
                @include aspect-ratio(380, 138);
                margin-top: 15px;
                margin-left: 0px;
                margin-bottom: 20px;
            }
        }
    }

    .mob-instag-icon {
        position: absolute;
        top: -7px;
        left: -30px;

        svg {
            max-width: 15px;
        }

    }
}