.memberships{
    position: relative;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
    @include media-breakpoint-up(lg) {
        padding-top: 170px;
    }

    &:before{
        content: "";
        background-color: theme-color("blue-over");
        background-image: url(/images/patterns/leopard-print-10pc.svg);
        background-size: cover;
        position: absolute;
        top: 0;
        left: -5%;
        width: 110%;
        height: 100%;
        transform: skew(-1deg,-3deg);
    }

    .dark-blue-a-seal{
        img{
            @include media-breakpoint-up(lg) {
                max-width: 179px;
                text-align: left;
                transform: translate3d(-100%,-20%,0);
            }
        }
    }
    .heading{
        font-size: calculateRem(28px);
        display: inline-block;
        margin: auto;
        position: relative;
        padding-bottom: 42px;
        .blue-a-seal{
            img{
                position: absolute;
                right: 0;
                top: 0;
                transform: translate3d(62%, -94%, 0);
                max-width: 127px;
                @include media-breakpoint-up(lg) {
                    max-width: 279px;
                    text-align: right;
                    transform: translate3d(192%, -82%, 0);
                }
            }

        }
    }
    .sub-heading{
        font-size: calculateRem(20px);
        font-family: $headings-font-family;
        padding: 0px 20px 20px;
        max-width: 500px;
        margin: auto;
        display: block;
    }
    .card{
        border-radius: 5px;
        overflow: hidden;
        color: $body-color;
        &:nth-of-type(1),&:nth-of-type(3){
            @include media-breakpoint-up(lg) {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        &:nth-of-type(2){
            .card-header{
                @include media-breakpoint-up(lg) {
                    padding-top: 40px;
                }
            }
        }
        .card-header{
            padding: 25px 10px;
            .card-title{
                color: #fff;
            }
        }
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            ul{
                list-style: none;
                padding: 0px;
                margin: 0px;
                li{
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    &:before{
                        content: "\2605";
                        font-size: calculateRem(40px);
                        padding-right: 12px;
                    }
                }
            }
        }

    }

    .slick-list {
        overflow: visible;
    }
    .slick-slide{
        margin: 8px;
    }
    .slick-dots{
        position: relative;
        bottom: 13px;
        padding-top: 30px;
    }
}

// Hide buttons on membership component on memberships page
.memberships-page {
    .memberships {
        .card {
            .btn-secondary {
                display: none;
            }
        }
    }
}