.section-newsletter {
    background-image: url(/images/tiger-print.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 100px 0 140px;
}

.newsletter-signup {
    
    .container {
        clear: both;

        @include media-breakpoint-up(lg) {
            clear: none;
        }
    }

    h2 {
        color: theme-color("blue");
        font-size: 36px;
        line-height: 36px;
    }

    h3 {
        text-transform: none;
        font-size: 20px;
        margin: 0;
        padding-bottom: 35px;
    }

    label {
        @include media-breakpoint-up(lg) {
            padding-bottom: 20px;
        }
    }

    .bird {
        background-image: url(/images/illustrations/bird.png);
        background-repeat: repeat;
        background-position: center center;
        background-size: 200px 132px;
        width: 200px;
        height: 132px;
        float: right;
        
        @include media-breakpoint-up(lg) {
            float: none;
            position: absolute;
            top: 50px;
            right: 100px;
            display: block;
        }
    }

    // error messages

    div.mce_inline_error {
        display: block;
        background-color: $blue !important;
        color: #fff;
        font-size: 0.75rem;
        padding: 5px;
        border-radius: 5px;
        margin-top: 10px;

    }

    #mc_embed_signup input.mce_inline_error {
        border: 1px solid #ced4da;
    }
}