.opening-times{
    padding: 30px 0px;
    display: inline-block;
    text-align: center;
    width: 100%;
    .opening-time-table{
        position: relative;
        &:before{
            content: "";
            background-color: #fff;
            position: absolute;
            width: 50px;
            height: 50px;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
        }
        tbody{
            tr{
                border-bottom: 2px dotted $gray-500;
                th{
                    border-right: 2px dotted $gray-500;
                    border-top: 0px solid transparent;
                    text-align: right;
                    padding-right: 30px;
                    padding-top: 30px;
                    width: 50%;
                    @include media-breakpoint-up(md){
                        padding-bottom: 30px;
                    }
                }
                td{
                    border-top: 0px solid transparent;
                    text-align: left;
                    padding-left: 30px;
                    padding-top: 30px;
                    width: 50%;
                }
                &:last-of-type{
                    border-bottom: 0px dotted $gray-500;
                }
            }
        }
    }
}