.quotes-wrap {
    position: relative;
}

.quotes {    
    text-align: center;
    background-image: url(/images/quote-red-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 0;
    width: 980px;
    height: 300px;
    z-index: 1;
    @include h-c;

    &::before,
    &::after {
        content: " ";
        position: absolute;
        width: 25px;
        height: 20px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        @include media-breakpoint-up(md) {
            width: 60px;
            height: 48px;
        }
    }

    &::before {
        background-image: url(/images/quote-mark-left.svg);
        top: 55px;
        left: 315px;
        
        @include media-breakpoint-up(md) {
            top: 55px;
            left: 110px;
        }
    }

    &::after {
        background-image: url(/images/quote-mark-right.svg);
        bottom: auto;
        top: 55px;
        right: 315px;

        @include media-breakpoint-up(md) {
            bottom: 88px;
            top: auto;
            right: 110px;
        }
    }

    div {
        height: 100%;
    }

    .quotes-slider {
        .quote {
            color: #FFFFFF;
            font-family: $headings-font-family;
            font-size: 28px;
            width: 100%;
            height: auto;
            display: block;
            left: 0;
            padding: 55px 280px;
            @include v-c;

            @include media-breakpoint-up(md) {
                padding: 55px 200px;
            }

            .rot {
                height: auto;      
                transform: rotate(-3deg);
                font-size: 28px;
                line-height: 28px;

                @include media-breakpoint-down(sm) {
                    max-width: 275px;
                    margin: 0 auto;
                }

                @include media-breakpoint-up(md) {
                    font-size: 36px;
                    line-height: 36px;
                }
            }
        }
    }
}