// Rich text editor built-in grid editor

.rte {
    >*:last-child {
        margin-bottom: 0;
    }

    $table-border: 1px solid #DDDDDD;

    .table-wrapper {
        padding: 15px;
        @include media-breakpoint-up(md){
            padding: 20px;
        }

        border-radius: $border-radius;
        box-shadow: $box-shadow;
    }

    table, tr, td {
        height: inherit !important;
        width: inherit !important;
    }
    
    table {
        margin-bottom: 0;

        
        tr:first-child td {
            border-top: 0;
        }
    
        tr td:first-child {
            border-left: 0;
        }
    
        tr:last-child td {
            border-bottom: 0;
        }
    
        tr td:last-child {
            border-right: 0;
        }

        td {
            border: $table-border;
        }
    }
}