.simple-image-slider {
    padding: 100px 0 0;
    
    .slick-list {
        overflow: visible;
    }

    .slide {
        border-radius: 5px;
        @include aspect-ratio(285, 220);
        @include media-breakpoint-up(md){
            @include aspect-ratio(780, 440);
        }
        overflow: hidden;
    }

    .slick-slide {
        transition: $transition;
        padding: 0 7.5px;
        @include media-breakpoint-up(md){
            padding: 0 10px;
        }

        &.slick-active.slick-center {
            transform: translate3d(0, -50px, 0);
        }
    }
    
    
    
}

.sis-navigation {
    height: 25px;
    margin: 45px 0;

    .slick-arrow {
        height: 25px;
        width: 25px;
        position: relative;
        top: 0;
        background: none;
        svg {
            path {
                fill: theme-color('secondary')
            }
        }
    }

    
    .slick-dots {
        position: relative;
        bottom: 0;
    }
    
    .slick-dots li button {
        background-color: #4A4A4A;
        opacity: 0.3;
    }
    
    .slick-dots li.slick-active button {
        background-color:#4A4A4A;
        opacity: 1;
    }
}