// Audio player
.sound-clip {
    .title-wrap {
        background-image: url(/images/tag-sound-clip-bg.png);
        background-repeat: no-repeat;
        background-size: 260px 65px;
        background-position: center center;
        height: 65px;
        width: 260px;
        padding: 11px 10px;
        position: relative;
        text-align: center;
        margin: 0 auto -10px;
        z-index: 2;
        pointer-events: none;

        h3 {
            color: #fff;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            display: inline-block;
            margin: 0;
            @include v-h-c;
            width: 100%;
        }
    }
}


.player {
    position: relative;
    max-width: 280px;
    font-size: 15px;
    margin: 0 auto 20px auto;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background: #fff;

    .player__audio {
        display: none !important;
    }
    
    .player__slider {
        width: 10px;
        height: 30px;
    }
    
    .player__controls {
        padding: 30px 20px;
        display: flex;
        flex-wrap: wrap;

        & > * {
            flex: 1;
            line-height: 25px;
            &:not(:last-child){
                margin-right: 15px;
            }
        }

        .toggle {
            font-size: 22px;
            flex: 0 0 15px;
        }
        
        .mute {
            img {
                width: 20px;
            }
            flex: 0 0 20px;
        }
    
        .player__button {
            background: none;
            border: 0;
            line-height: 1;
            color: #4A4A4A;
            text-align: center;
            outline: 0;
            padding: 0;
            cursor: pointer;
            max-width: 50px;
    
            &:focus {
                border-color: #ffc600;
            }
        }
    
        .progress {
            position: relative;
            display: flex;
            height: 2px;
            border-radius: 1px;
            margin-top: 10px;
            background: $body-color;
            overflow: visible;
            cursor: ew-resize;
            
            .progress__filled {
                width: 50%;
                background: $body-color;
                flex: 0;
                flex-basis: 0;
                position: relative;
                // round button
                &:after {
                    content: '';
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: $body-color;
                }
            }
        }
    }
}

/* unholy css to style input type="range" */
input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    margin: 0 5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bada55;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
}