.subhero {
    padding: 0 0 58px;
    
    @include clip-pathable('/images/spotted-pattern-yellow.png', 684px, 608px, -80px);

    @include media-breakpoint-up(md) {
        padding: 158px 0;

        .teaser-col {
            &:nth-child(even) {
                .teaser {
                    margin-top: 20px;
                }
            }
            &:nth-child(odd) {
                .teaser {
                    margin-top: -20px;
                }
            }
        }
    }

    .tree {
        display: block;
        height: 196px;
        width: 240px;
        position: absolute;
        background-image: url(/images/illustrations/trees.svg);
        background-repeat: no-repeat;
        background-position: top left;
        top: 50px;
        right: 0;
    }

    .teaser {

        @include media-breakpoint-down(sm) {
            height: 110px;
            margin-bottom: 15px;
        }
    
        @include media-breakpoint-up(md) {
            @include aspect-ratio(280px, 280px);
        }

        @include media-breakpoint-up(xl) {
            height: auto;
        }

        .teaser-image {
            overflow: hidden;
            
            .teaser-img {
                position: absolute;
                @include media-breakpoint-down(sm) {
                    transform: translate3d(-15%, 0%, 0);
                    
                }
                width: 120%;
                max-width: initial;
                
                
            }
            
            &:before {
                z-index: 5
            }
            
            @include media-breakpoint-up(md) {
                .teaser-img {
                    @include v-h-c;
                    width: 100%;
                    
                }
            }
        }
        
        .teaser-image {
            width: 110px;
            // border-right: 10px solid white; // Fix for 1px split on high dpi monitors
            // box-shadow: inset -10px 0px 0px 0px rgba(255,255,255,1);
    
            @include media-breakpoint-up(md) {
                width: 100%;
                border: none;
                box-shadow: none;
            }
    
            &::before {
                content: " ";
                position: absolute;
                top: 0;
                left: 0;
                background: #fff;
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: opacity ease-out 0.5s;
            }
        }    
    
        .teaser-inner {
            z-index: 5;

            .teaser-title {
                font-size: 20px;
                line-height: 24px;
                @include media-breakpoint-up(md) {
                    font-size: 24px;
                    line-height: 24px;
                }
                text-transform: uppercase;
                color: $body-color;
                display: block;
                width: 100%;
                padding: 20px 20px 40px 40px;
                background-image: none;
                background-position: bottom left;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all ease-out 0.5s;
                transition-delay: 1s; // minimise flicker
            }
        
            .teaser-content {
                display: flex;
            }
        }
    
        &:hover {
            @include media-breakpoint-up(md) {
                .teaser-image {
                    &::before {
                        transition: opacity ease-out 0.5s;
                        opacity: 0;
                    }
                }
    
                .teaser-inner {
                    .teaser-title {
                        transition: all ease-out 0.5s;
                        background-image: url('/images/teaser-title-back.svg');
                    }
                }
            } // MQ
        }
    
        &.green {
            background-image: url(/images/green-claw.png);
            background-size: 500px 500px;
            background-position: bottom left;
            background-color: transparent;

            &::before {
                //display: none;
            }

            .teaser-inner {    
                .teaser-title {
                    color: #fff;
                    padding-bottom: 0;
                }
    
                .teaser-content {
                    ul {
                        margin-bottom: 66px !important;
                        display: none;

                        @include media-breakpoint-up(md) {
                            display: block;
                        }
    
                        li {
                            a {
                                padding: 0 20px;
                                color: #fff;
                                font-family: $headings-font-family;
                                font-size: 20px;
                                transition: $transition;
    
                                &:hover {
                                    text-decoration: none;
                                    display: inline-block;
                                    transform:scale(1.05);
                                    transition: $transition;
                                }
                            }
                        }
                    }

                    .teaser-arrow {
                        display: block;

                        @include media-breakpoint-up(md) {
                            display: none;
                        }

                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
    
            &:hover {
                .teaser-title {
                    background: none;
                }
            }
        }
    }
    
    .col {
        // Clip a path out
        &:nth-child(1) {
            .teaser-image {
                &::before {
                    // clip-path: polygon(0 0, 100% 0, 100% 100%, 64% 100%, 75% 50%, 0 27%);
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 77% 100%, 91% 29%, 0 11%);
                }
            }
        }
    
        &:nth-child(2) {
            .teaser-image {
                &::before {
                    // clip-path: polygon(0 0, 100% 0, 100% 100%, 54% 100%, 72% 71%, 0 27%);
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 88% 100%, 81% 22%, 0 11%);
                }
            }
        }
    
        &:nth-child(3) {
            .teaser-image {
                &::before {
                    // clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 79% 59%, 0 27%);
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 82% 100%, 97% 65%, 0 17%);
                }
            }
        }
    
        &:nth-child(4) {
            .teaser-image {
                &::before {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%, 78% 67%, 0 27%);
                }
            }
        }

        &:last-child() {
            .teaser {
                margin-bottom: 50px;
            }
        }
    }
}

// Hide tree on mobile globally
.tree {
    @include media-breakpoint-down(sm){
        display: none !important;
    }
}