.price-list {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    display: flex;
    padding: 20px;
    flex-direction: column;
    @media(min-width: 768px) {
        flex-direction: row;
    }
    .price-row {
        display: flex;
        @media(min-width: 768px) {
            flex-direction: column;
            flex: 1;
        }
        > * {
            flex: 1;
        }

        .price {
            font-weight: bold;
            color: #788100;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .type {
            font-size: calculateRem(16px);
            font-weight: 600;
        }
        .range {
            font-size: calculateRem(12px);
        }
    }

    & > div {

        border-bottom: 1px solid #DDDDDD;
        &:first-of-type {

            & > div:first-of-type {
                padding-top: 0px;
            }
        }
        & > div {
            &:first-of-type {
                border-right: 1px solid #DDDDDD;
            }
            padding: 15px 0px;
        }
        &:last-of-type {
            border-bottom: 0px solid transparent;
        }
    }
    @include media-breakpoint-up(md) {
        .price-row{
            padding: 15px 0px;
            border-right: 1px solid #DDDDDD;
            border-bottom: 0px solid #DDDDDD;
            text-align: left;
            & > div{
                border-bottom: 1px solid #DDDDDD;
            }
            &:last-of-type{
                border-right: 0px solid #DDDDDD;
            }
            .type, .range, .price{
                padding: 0px 40px;
            }
            .price{
                border-top: 1px solid #DDDDDD !important;
                padding-top: 30px;
            }
        }
        & > div{

            & > div{
                padding: 0px;
                border: 0px solid transparent !important;
                min-height: 3em;
                padding-bottom: 30px;
            }
        }
    }
}

.offer-section {
    position: relative;
    z-index: 30;
    margin-top: -50px;

    .offer {
        background-image: url(/images/tag-prices-bg.png);
        background-position: center;
        background-size: contain;
        position: relative;
        background-repeat: no-repeat;
        z-index: 30;
        text-align: center;
        font-weight: bold;
        color: #fff;
        max-width: 335px;
        margin: auto;
        font-size: 1.25rem;
        line-height: 1.25rem;
        padding: 40px 30px;

        p {
            margin-bottom: 0;
        }
    }
}