.video-wrapper {
    border-radius: $border-radius;
    overflow: hidden;
    position: relative;

    video {
        display: block;
    }

    .toggle {
        @include v-h-c;
        font-size: 100px;
        width: 15%;
        max-width: 180px;

        img {
            width: 100%;
            height: auto;
            transition: 0.1s all ease;
        }
    }

    .mute {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 5%;

        img {
            width: 100%;
            height: auto;
        }
    }
}