// Global styles across cards
.carousel {
    .card {
        .times,
        .date {
            font-family: $headings-font-family;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 25px;
            //font-weight: bold;
        }
    
        .card-title {
            color: #EC6706;
            font-family: $headings-font-family;
            font-size: 28px;
            line-height: 28px;
            text-transform: uppercase;
        }
    }
}