.info-section {
    position: relative;
    z-index: 30;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 5px;
    .info {
        box-shadow: 2px 3px 11px 0 rgba(0, 0, 0, 0.5);
        border-radius: $border-radius;
        @include media-breakpoint-up(md){
            max-width: 50%;
        }
        margin: -30px auto 0;
        padding: 20px 15px;
        p{
            margin-bottom: 0;
        }
    }
}