.search-filter {
    position: relative;
}

.select-wrapper {
    position: relative;
    max-width: 285px;
    margin: -30px auto 30px;
    border-radius: $border-radius;
    padding: 5px;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    z-index: 30;
    // arrow
    &:before {
        position: absolute;
        color: #fff;
        transform: rotate(90deg);
        right: 5px;
        top: 5px;
        margin: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        pointer-events: none;
        z-index: 5;
    }
    
    select {
        width: 100%;
        border-radius: $border-radius;
        border: none;
        padding: 0 45px 0 15px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        font-weight: bold;
        background-color: theme-color("tertiary");
        color: #fff;
        text-transform: uppercase;
        appearance: none;
        cursor: pointer;

        &::-ms-expand {
            display: none;
        }
    }
}