// These are the shared styles across all teasers
.teaser {    
    display: block; // might be an anchor
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: $border-radius;
    background-color: #FFFFFF;
    box-shadow: $box-shadow;

    .teaser-title {
        font-size: 20px;
        line-height: 24px;
        font-family: $headings-font-family;
        
        @include media-breakpoint-up(md) {
            font-size: 28px;
            line-height: 28px;
            
        }
    }

    .teaser-image {
        position: absolute;
        background-position: center center;
        background-size: cover;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .teaser-inner {        
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .teaser-content {
            flex-direction: column;
            .teaser-arrow {
                display: block;
                height: 25px;
                width: 25px;
                @include media-breakpoint-up(md) {
                    height: 40px;
                    width: 40px;
                }
                position: absolute;
                bottom: 20px;
                right: 20px;
                transition: right ease-out 0.5s;

                svg {
                    path {
                        transition: all ease-out 0.5s;
                        fill: theme-color("orange");
                    }
                }
            }
        }
    }

    &:hover {
        @include media-breakpoint-up(md) {
            .teaser-inner {
                .teaser-content {
                    .teaser-arrow {
                        right: 10px;
                        transition: right ease-out 0.5s;

                        svg {
                            path {
                                transition: all ease-out 0.5s;
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.teaser.green {
    .teaser-title a {
        color: #fff !important;
    }
}

// Hide the teaser content on mobile
.call-to-action-area,
.animal-call-to-action-area,
.tickets-call-to-action-area {
    .teaser {
        .teaser-inner {
            .teaser-content {
                > *:not(.teaser-arrow) {
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
            }
        }
    }
}