﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models

@{
    var home = Model.Content.Site();
    var handle = home.GetPropertyValue("instagramHandle");
    var copy = home.GetPropertyValue("instagramCopy");
    var image = home.GetPropertyValue("instagramImage");
    var cropUrl = home.GetCropUrl("instagramImage", "instagram");
}
<div class="instagram-sotw-wrapper">
    <div class="instagram-sotw">
        <div class="container h-100">
            <div class="row h-100 align-items-start align-items-md-center  justify-content-center">
                <div class="col-12 order-2 order-md-1 col-md-8 col-lg-8 align-self-md-start align-self-lg-start">
                    <div class="sotw-sign d-none d-md-block">
                        <img src="/images/snap-of-the-week-sign.png" alt="snap of the week sign" />
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/instagram.svg")))
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-10">
                            <div class="instagram-sotw-tag aos-init d-none d-sm-block" data-aos="fade-up">
                                <a href="https://www.instagram.com/knowsleysafari/?hl=en" target="_blank" class="d-flex align-items-center justify-content-start">
                                    <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title>F95D1F4D-2ED9-4914-80C1-91DB19A77223</title>
                                        <defs>
                                            <path d="M32.0825,9.25 C32.0825,9.9859375 31.4858594,10.5825 30.7499219,10.5825 C30.0140625,10.5825 29.4175,9.9859375 29.4175,9.25 C29.4175,8.51414062 30.0140625,7.9175 30.7499219,7.9175 C31.4858594,7.9175 32.0825,8.51414062 32.0825,9.25 L32.0825,9.25 Z M20,26.25 C16.555,26.25 13.75,23.445 13.75,20 C13.75,16.5525 16.555,13.75 20,13.75 C23.4449219,13.75 26.25,16.5525 26.25,20 C26.25,23.445 23.4449219,26.25 20,26.25 L20,26.25 Z M20,10 C14.4775,10 10,14.4775 10,20 C10,25.5225 14.4775,30 20,30 C25.5224219,30 30,25.5225 30,20 C30,14.4775 25.5224219,10 20,10 L20,10 Z M36.25,27.5 C36.25,32.325 32.325,36.25 27.5,36.25 L12.5,36.25 C7.675,36.25 3.75,32.325 3.75,27.5 L3.75,12.5 C3.75,7.675 7.675,3.75 12.5,3.75 L27.5,3.75 C32.325,3.75 36.25,7.675 36.25,12.5 L36.25,27.5 Z M27.5,0 L12.5,0 C5.5975,0 0,5.5975 0,12.5 L0,27.5 C0,34.4025 5.5975,40 12.5,40 L27.5,40 C34.4024219,40 40,34.4025 40,27.5 L40,12.5 C40,5.5975 34.4024219,0 27.5,0 L27.5,0 Z" id="path-1"></path>
                                        </defs>
                                        <g id="Layouts" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="D-Home" transform="translate(-260.000000, -4380.000000)">
                                                <g id="Icon-/-Social-/-Instagram" transform="translate(260.000000, 4380.000000)">
                                                    <g id="Colour-/-Heavy-Grey">
                                                        <mask id="mask-2" fill="white">
                                                            <use xlink:href="#path-1"></use>
                                                        </mask>
                                                        <use id="Mask" fill="#000000" xlink:href="#path-1"></use>
                                                        <g id="Colour-/-White" mask="url(#mask-2)" fill="#FFFFFF">
                                                            <rect id="Rectangle" x="0" y="0" width="40" height="40"></rect>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <div>
                                        @handle
                                    </div>
                                </a>
                            </div>
                            <div class="instagram-sotw-content aos-init pt-0 position-relative" data-aos="fade-up">
                                @copy
                                <a href="#" class="d-block d-sm-none mob-instag-icon">
                                    <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <title>F95D1F4D-2ED9-4914-80C1-91DB19A77223</title>
                                        <defs>
                                            <path d="M32.0825,9.25 C32.0825,9.9859375 31.4858594,10.5825 30.7499219,10.5825 C30.0140625,10.5825 29.4175,9.9859375 29.4175,9.25 C29.4175,8.51414062 30.0140625,7.9175 30.7499219,7.9175 C31.4858594,7.9175 32.0825,8.51414062 32.0825,9.25 L32.0825,9.25 Z M20,26.25 C16.555,26.25 13.75,23.445 13.75,20 C13.75,16.5525 16.555,13.75 20,13.75 C23.4449219,13.75 26.25,16.5525 26.25,20 C26.25,23.445 23.4449219,26.25 20,26.25 L20,26.25 Z M20,10 C14.4775,10 10,14.4775 10,20 C10,25.5225 14.4775,30 20,30 C25.5224219,30 30,25.5225 30,20 C30,14.4775 25.5224219,10 20,10 L20,10 Z M36.25,27.5 C36.25,32.325 32.325,36.25 27.5,36.25 L12.5,36.25 C7.675,36.25 3.75,32.325 3.75,27.5 L3.75,12.5 C3.75,7.675 7.675,3.75 12.5,3.75 L27.5,3.75 C32.325,3.75 36.25,7.675 36.25,12.5 L36.25,27.5 Z M27.5,0 L12.5,0 C5.5975,0 0,5.5975 0,12.5 L0,27.5 C0,34.4025 5.5975,40 12.5,40 L27.5,40 C34.4024219,40 40,34.4025 40,27.5 L40,12.5 C40,5.5975 34.4024219,0 27.5,0 L27.5,0 Z" id="path-1"></path>
                                        </defs>
                                        <g id="Layouts" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="D-Home" transform="translate(-260.000000, -4380.000000)">
                                                <g id="Icon-/-Social-/-Instagram" transform="translate(260.000000, 4380.000000)">
                                                    <g id="Colour-/-Heavy-Grey">
                                                        <mask id="mask-2" fill="white">
                                                            <use xlink:href="#path-1"></use>
                                                        </mask>
                                                        <use id="Mask" fill="#FFFFFF" xlink:href="#path-1"></use>
                                                      </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 order-1 order-md-2 col-md-4 col-lg-4 align-self-md-center">
                    <div class="sotw-sign d-block d-md-none">
                        <img src="/images/snap-of-the-week-sign.png" alt="snap of the week sign" />
                        @Html.Raw(System.IO.File.ReadAllText(Server.MapPath("~/images/icons/instagram.svg")))
                    </div>
                    <img src="@cropUrl" class="aos-init instagram-sotw-image d-md-block mx-md-auto" data-aos="fade-down"/>
                </div>
            </div>
        </div>
    </div>

</div>

