﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models

@{
    var home = Model.Content.Site();

    var sitename = home.GetPropertyValue("siteName");
    var heading = home.GetPropertyValue("heading");
    var subheading = home.GetPropertyValue("subHeading");
    var items = home.GetPropertyValue<IEnumerable<IPublishedContent>>("membershipTypes");
}
    @{
    var i = 0;
    }
    <div class="memberships">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-lg-10 p-0 p-lg-2 text-center">
                    <h2 class="text-center heading" >
                        <div class="blue-a-seal" data-aos="fade-up">
                            <img src="/images/illustrations/seal-right.png?width=279" alt="Seal illustration">
                        </div>
                        @heading
                    </h2>
                    <p class="text-center sub-heading">@subheading</p>
                    <div class="card-deck">
                        @foreach( var item in items )
                            {
                            var title = Umbraco.Field(item, "title");
                            var bgColor = Umbraco.Field(item, "teaserHeaderBackgroundColour");
                            var content = Umbraco.Field(item, "content");
                            var links = item.GetPropertyValue
                            <RelatedLinks>("links");
                                <div class="card"  data-aos="fade-up" data-aos-delay="@(i * 2)00">
                                    <div class="card-header ta-c" style="background-color: #@(bgColor)">
                                        <h5 class="card-title m-0">@title</h5>
                                    </div>
                                    <div class="card-body" id="membership@(bgColor)">
                                        <style>
                                            #membership@(bgColor) li:before{
                                                color: #@(bgColor);
                                            }
                                        </style>
                                        <div class="card-text">@content</div>
                                        @if( links != null ){
                                        foreach (var link in links) {
                                        <a class="btn btn-block btn-width-icon btn-secondary"
                                           href="@link.Link"
                                           target="@(link.NewWindow ? " _blank" : null)"
                                           tabindex="0">
                                            @link.Caption
                                            <!--?xml version="1.0" encoding="utf-8"?-->
                                            <!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;"
                                                 xml:space="preserve">
                                                    <style type="text/css">
                                                        .st0 {
                                                            fill: #1D1D1B;
                                                        }
                                                    </style>
                                                <title>Icon / Arrow / Left</title>
                                                <path id="Symbols" class="st0" d="M40,20c0,0.4-0.1,0.8-0.4,1.1L21,39.6c-0.6,0.6-1.5,0.6-2.1,0l-4.8-4.8c-0.6-0.6-0.6-1.5,0-2.1
	l7.8-7.8H1.5c-0.8,0-1.5-0.7-1.5-1.5v-6.8c0-0.8,0.7-1.5,1.5-1.5h20.4l-7.8-7.8c-0.6-0.6-0.6-1.5,0-2.1l4.8-4.8
	c0.6-0.6,1.5-0.6,2.1,0l18.6,18.5C39.9,19.2,40,19.6,40,20"></path>
</svg>

                                        </a>
                                        }
                                        }
                                    </div>
                                </div>
                                i ++;
                                }
                    </div>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-10">
                    <div class="dark-blue-a-seal d-none d-lg-block"  data-aos="fade-up">
                        <img src="/images/illustrations/seal-left.png?width=279" alt="Seal illustration" />
                    </div>
                </div>
            </div>
        </div>
    </div>

