﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models

@{
    var home = Model.Content.Site();
    var times = home.GetPropertyValue<IEnumerable<IPublishedContent>>("times");
}
<section class="opening-times">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-6">
            <table class="table opening-time-table">
                @foreach( var time in times ){
                var day = time.GetPropertyValue("day");
                var timeRange = time.GetPropertyValue("time");
                <tr>
                    <th scope="row">@day</th>
                    <td>@timeRange</td>
                </tr>
                }
            </table>
        </div>
    </div>
</section>
