﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web.Models

@{
    var home = Model.Content.Site();
    var tickets = home.GetPropertyValue<IEnumerable<IPublishedContent>>("tickets");
    
}


<div class="container">
   <div class="row">
       <div class="col col-12 col-md-12">
            <div class="price-list">
                @if( tickets != null ){
                    foreach( var ticket in tickets ){
                        var type = ticket.GetPropertyValue("type");
                        var range = ticket.GetPropertyValue("ageRange");
                        var price = ticket.GetPropertyValue("price");

                        <div class="price-row">
                            <div>
                                <div class="type">@type</div>
                                <div class="range">@range</div>
                            </div>
                            <div class="price">@price</div>
                        </div>
                    }
                } else {
                    <p>Please add some ticket types</p>
                }
            </div>
       </div>
   </div>
</div>
